{
  "encounters": {
   "vitals": {
      "available": true,
      "activitiesIcon": "/assets/images/vitals.png",
      "url": "/views/patient/vitals.html"
    },
    "outpatient diagnosis": {
      "available": true,
      "activitiesIcon": "/assets/images/diagnosis.png",
      "url": "/apps/OPD/views/encounters/diagnosis.html"
    },
    "Outcome status": {
      "available": true,
      "activitiesIcon": "/assets/images/outcomes.png",
      "url": "/apps/OPD/views/encounters/outcome_status.html"
    },
    "clinical notes": {
      "available": true,
      "activitiesIcon": "/assets/images/clinical-notes.png",
      "url": "/apps/OPD/views/encounters/clinical_notes.html"
    },
    "malaria_lab_orders": {
          "available": true,
          "activitiesIcon": "/assets/images/clinical-notes.png",
          "url": "/apps/OPD/views/encounters/malaria/lab_orders.html"
    },
    "malaria_lab_results": {
          "available": true,
          "activitiesIcon": "/assets/images/clinical-notes.png",
          "url": "/apps/OPD/views/encounters/malaria/lab_results.html"
    },
    "malaria_prescription": {
          "available": true,
          "activitiesIcon": "/assets/images/clinical-notes.png",
          "url": "/apps/OPD/views/encounters/malaria/prescription.html"
    },
    "patient registration": {
      "available": true,
      "activitiesIcon": "/assets/images/attributes.png",
      "url": "/apps/OPD/views/encounters/clinic_visit_attributes.html"
    },
    "presenting complaints": {
      "available": true,
      "activitiesIcon": "/assets/images/complaints.png",
      "url": "/apps/OPD/views/encounters/presenting_complaints.html"
    },
    "social history": {
      "available": true,
      "activitiesIcon": "/assets/images/medical-report.png",
      "url": "/apps/OPD/views/encounters/social_history.html"
    },
    "drugs given": {
      "available": true,
      "activitiesIcon": "/assets/images/drugs-given.png",
      "url": "/apps/OPD/views/encounters/medication_given.html"
    }
  },
  "activities": {
    "url": "",
    "tasks": []
  },
    
  "others": [
    {
      "activitiesName": "National Health ID (Print)",
      "available": false,
      "activitiesIcon": "/assets/images/barcode.png",
      "activitiesDescription": "Print Patient National Health ID",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },{
      "activitiesName": "Lab activities",
      "available": false,
      "activitiesIcon": "/assets/images/lab.png",
      "url": "/views/patient/labs.html",
      "activitiesDescription": "Print Patient Visit Summary",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },{
      "activitiesName": "Demographics (Edit)",
      "available": false,
      "activitiesIcon": "/assets/images/edit.png",
      "url": "/views/patient/edit_demographics.html",
      "activitiesDescription": "Print Patient Demographics",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },{
      "activitiesName": "Change session date",
      "available": false,
      "activitiesIcon": "/assets/images/time.png",
      "url": "/views/change_session_date.html",
      "activitiesDescription": "Change session date (for retrospective entry)",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },{
      "activitiesName": "Program(s)",
      "available": false,
      "activitiesIcon": "/assets/images/programs.png",
      "url": "/views/patient/programs.html",
      "activitiesDescription": "View / update patient's programs",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    },{
      "activitiesName": "Visit Summary (Print)",
      "available": false,
      "activitiesIcon": "/assets/images/folder.png",
      "activitiesDescription": "Print Patient Visit Summary",
      "comment": "these are examples, add another application with this template at the end of these curly braces by adding a comma and copying this template"
    }
  ]
}
