<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

    .inputFrameClass {
        width: 96% !important;
    }

    #clearButton {
        display: none;
    }

</style>

<script>
    if(sessionStorage.userRoles.match(/Clinician/i) || sessionStorage.userRoles.match(/Pharmacist/i))
        window.location = "/";

    var patientID = sessionStorage.getItem("patientID");
    var programID = sessionStorage.getItem("programID");
    var tt_cancel_destination = document.referrer;
    var apiProtocol = sessionStorage.apiProtocol;
    var apiURL = sessionStorage.apiURL;
    var apiPort = sessionStorage.apiPort;
    var patient_id = sessionStorage.patientID;
    var previousActivities = null;
    var unavailable_activities = null;

    getRadiologyActivationStatus();
    function getActivities() {
        var url = sessionStorage.apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/user_properties?property=OPD_activities';
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {

            if (this.readyState == 4) {
                if (this.status == 200) {
                    var results = JSON.parse(this.responseText);
                    previousActivities = results.property_value;
                    loadActivities(previousActivities);
                } else {

                    loadActivities("");
                }
            }
        };
        try {
            req.open('GET', url, true);
            req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
            req.send(null);
        } catch (e) {

        }
    }

    function loadActivities(previousActivities) {
        
        jQuery.getJSON("/apps/OPD/application.json")
            .done(function (data) {
                removeUnavailableTask(data, previousActivities);
            })
            .fail(function () {
                console.log("The application " + applicationName + "'s application.json file is not available");
            });

    }

    function removeUnavailableTask(data, previousActivities)
    {
        var activities = [];
        activities = data.activities.tasks;
        unavailable_activities = "";
        var j = Object.keys(data.encounters);
        j.forEach(function (j) {
            var values = data.encounters[j]
            var available = values.available;

            if(j == "radiology examination" && sessionStorage.radiology_status == "false")
            {
                previousActivities = previousActivities.replace(j+',','').replace(j,'');
                unavailable_activities = unavailable_activities+" "+j;
            }

        }); 
      
        renderActivities(activities, previousActivities);
    }
    /*
    <li id="0" tstvalue="vitals" class="even" tag="even" onmousedown="" onclick="null; updateTouchscreenInputForSelect(__$('optionValue' + this.id), this); " style=""><div style="display: table; border-spacing: 0px;"><div style="display: table-row"><div style="display: table-cell;"><img id="img0" src="/public/touchscreentoolkit/lib/images/unticked.jpg" alt="[ ]"></div><div style="display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px;" id="optionValue0">Vitals</div></div></div></li
    */

    function renderActivities(activities, previousActivities) {
        var ul = document.getElementById("tt_currentUnorderedListOptions");
        for (var i = 0; i < activities.sort().length; i++) {
            var innerHTML = '<div style="display: table; border-spacing: 0px;"><div style="display: table-row"><div style="display: table-cell;"><img id="img';
            innerHTML += i + '" src="/public/touchscreentoolkit/lib/images/unticked.jpg" alt="[ ]"></div><div style="display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px;"';
            innerHTML += ' id="optionValue' + i + '">';
            innerHTML += activities[i][0] + "</div></div></div>";
            if(!unavailable_activities.match(activities[i][1]))
            {
                var li = document.createElement("li");
                li.setAttribute("id", i);
                li.setAttribute("tstvalue", activities[i][1]);
                li.setAttribute("onmousedown", "null; updateTouchscreenInputForSelect(__$('optionValue' + this.id), this); ");
                li.setAttribute("style", "");
                li.setAttribute("class", "even");
                li.innerHTML = innerHTML;
                ul.appendChild(li);
            }
            if (previousActivities.search(activities[i][1]) >= 0) {
                updateInputs(i);
            }
        }
      
    }

    function updateInputs(i) {
        updateTouchscreenInputForSelect(__$('optionValue' + i), document.getElementById(i));
    }

    function changeNextBTN() {
        var nextBTN = document.getElementById("nextButton");
        nextButton.setAttribute("onmousedown", "setActivities();");
    }

    function setActivities() {
        var values = document.getElementById("touchscreenInput0").value;
        if (isEmpty(values))
            return;

        var regex = new RegExp(";", "g");
        values = values.replace(regex, ",").toLowerCase();

        var parameters = {property: "OPD_activities", property_value: values}
        sessionStorage.setItem("OPD_task", values);
        redirectTo();
    }

    function redirectTo() {
        window.location = document.referrer;
             
    }

    function isEmpty(str) {
        try {
            return (str.replace(/\s+/g, '').length < 1);
        } catch (e) {
            return true;
        }
    }

    function getRadiologyActivationStatus() 
    {
        var radiology_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        radiology_property_url += "/api/v1/global_properties?property=activate.radiology";

        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                try {
                    var activate_radiology_property = JSON.parse(this.responseText);
                    if (activate_radiology_property["activate.radiology"] == "true") {
                        radiology_activated = true;
                        sessionStorage.setItem("radiology_status", radiology_activated);
                    }
                    else
                    {
                        radiology_activated = false;
                        sessionStorage.setItem("radiology_status", radiology_activated);
                    }
                } catch (e) {

                }

            
            }
        };
        xhttp1.open("GET", radiology_property_url, true);
        xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp1.setRequestHeader('Content-type', "application/json");
        xhttp1.send();
    }


</script>

<body id="mateme">
<div id="container">
    <div id="content">


        <form action="post">

            <select id="activity" tt_pageStyleClass="NoKeyboard NoInput small"
                    multiple="multiple" helpText="Select Activities" name="activities"
                    tt_onLoad="changeNextBTN();getActivities();">
            </select>

        </form>

    </div>
</div>
</body>

