
<script src="/assets/js/HighCharts/highcharts.js"></script>
<script src="/assets/js/HighCharts/highcharts-3d.js"></script>
<script src="/assets/js/HighCharts/exporting.js"></script>
<script src="/assets/js/HighCharts/export-data.js"></script>
<script src="/assets/js/moment.js"></script>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/core.js"></script>


<style>
* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

#opd-stats {
  width: 100%;
}

#opd-stats-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

.stat-boxes td {
  width: 25%;
  height: 70px;
  border-style: solid;
  border-width: 1px;
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-color: white;
  background-color: lightyellow;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

</style>

<div id='opd-stats'>

<table id='opd-stats-table'>
  <tr class='stat-boxes'>
    <td>Registered today<br /><span id="reg-today">0</span></td>
    <td>Returning today<br /><span id="returning-today">0</span></td>
    <td>Referred today<br /><span id="referred-today">0</span></td>
    <td style="background-color: yellowgreen;">Total<br /><span id="reg-total">0</span></td>
  </tr>
</table>

<div id="opd-encounters"></div>

</div>

<script>

function dashboardStats(stats) {

var top_colunm = stats['top']; 
document.getElementById('reg-today').innerHTML = top_colunm.registered_today;
document.getElementById('returning-today').innerHTML = top_colunm.returning_today;
document.getElementById('referred-today').innerHTML = top_colunm.referred_today;
var total = parseInt(top_colunm.referred_today);
total += parseInt(top_colunm.returning_today);
total += parseInt(top_colunm.registered_today);
document.getElementById('reg-total').innerHTML = total;

var chart_keys = [];
var chart_data = stats['down'];

for(key in chart_data){
  var keys = chart_data[key];
  for(key in keys){
    chart_keys.push(parseInt(key));
  }
  break;
}

var dates = [];
chart_keys = chart_keys.sort(function(a, b){return a-b});
var chart_numbers_new = [];

var types = ['registered','returning','referred'];
var numbers = {};

for(var i = 0 ; i < chart_keys.length ; i++){
  var sdate = (chart_data[types[0]][chart_keys[i]].start_date);
  dates.push(moment(sdate).format('MMM/YYYY'));
}

for(var i = 0 ; i < dates.length ; i++){
  for(name in chart_data){
    var attr = chart_data[name];
    for(key in attr){
      var sdate = chart_data[name][key].start_date;
      sdate = moment(sdate).format('MMM/YYYY');
      if(sdate != dates[i])
        continue;
    
      if(numbers[name] == undefined)
        numbers[name] = [];

      numbers[name].push(chart_data[name][key].count);
    }
  }
}

Highcharts.chart('opd-encounters', {
    chart: {
        type: 'column',
        height: 320
    },
    title: {
        text: 'New registered vs Returning clients'
    },
    subtitle: {
        text: 'For the past 12 months'
    },
    xAxis: {
      categories: dates,
      crosshair: true
    },
    yAxis: {
        min: 0,
        allowDecimals: false,
        title: {
            text: 'Number of clients'
        }
    },
    credits: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'New',
        data: numbers['registered']

    }, {
        name: 'Returning',
        data: numbers['returning']

    }, {
        name: 'Referred',
        data: numbers['referred']
    }]
});

}

function fetchDashboardStats() {
  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1";
  url += "/dashboard_stats?date=" + sessionStorage.sessionDate;
  url+= "&program_id=" + sessionStorage.programID;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      dashboardStats(obj);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

setTimeout("fetchDashboardStats()", 200);
</script>

