
<!DOCTYPE html>
<html>
  <head>
    <title>HTN Properties</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="jnYSofDQM5lmGPjWfPJEEUoruNgsLgogfqz6Q0LuekcIzdxGOOcewR6uEovLYv4pl7xomiGg0aFn94rxy9/WGQ==" />
    
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>

    <script language="javascript" defer="true">
        
        tstUserKeyboardPref = "abc";

        tstCurrentDate = sessionStorage.sessionDate;

        function addHereButton(){
            var button = document.createElement("button");
            button.id = "addHere";
            button.innerHTML = "<span>Here</span>";
            button.style.cssFloat = "right";

            button.onclick = function(){
                __$("touchscreenInput" + tstCurrentPage).value = "Ntaja Health Centre"
            }

            if(__$("buttons")){
                __$("buttons").appendChild(button);
            }
        }

        function removeHereButton(){
            if(__$("addHere")){
                __$("buttons").removeChild(__$("addHere"));
            }
        }

        function getSelected(){
            var choices = "";

            for(var o = 0; o < __$('choice').options.length; o++){
                if(__$('choice').options[o].selected == true){
                    choices += __$('choice').options[o].innerHTML + " ";
                }
            }

            return choices;
        }
        function changeNext() {
        var b = document.getElementById('nextButton');
        b.setAttribute('onmousedown','validateGPentry();');
        }

        function validateGPentry() {
        var systolic = $("systolic").value;

        var sys_bp = {
            property: 'htn.systolic.threshold', 
            property_value: systolic
        };

        submitParameters(sys_bp, '/global_properties', "postDiastolic");
        }

        function postDiastolic() {
            var diastolic = $('touchscreenInput' + tstCurrentPage).value;;

            var sys_bp = {
                property: 'htn.diastolic.threshold', 
                property_value: diastolic
            };

            submitParameters(sys_bp, '/global_properties', "gpSet");
        }

function gpSet(e){ document.location = '/' }
        //-->
    </script>

    <script language="javascript" type="text/javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/show_category_hack.js" defer="true"></script>
  </head>

  <body id="mateme">
  <div id="container">
    <div id="content">
      <div id="description" style="color:#777;position:absolute;margin-top:-70px;">
      </div>
      <style>
  #space { display:inline; font-size:1.2em; }

  #tt_page_identifier .touchscreenTextInput {
    top: 46px;
  }
  .options {
    display:none;
  }

</style>

<script>
  var tt_cancel_destination = "/clinic"; // /properties/"
</script>

<form method='post' action='/properties/set_htn_bp_thresholds'>
  <input type='text' id='systolic'
         name='systolic'
         helpText='Set systolic blood pressure '
         field_type="number"
         min = "10"
         max = "250"
         tt_pageStyleClass = "Numeric NumbersOnly"/>

  <input type='text' id='diastolic'
         name='diastolic'
         helpText='Set diastolic blood pressure '
         field_type="number"
         min = "10"
         max = "250"
         tt_onLoad="changeNext();"
         tt_pageStyleClass = "Numeric NumbersOnly"/>

    <input type="hidden" name="view_configuration" id="view_configuration" value="true" />
</form>

      <div id="footer">
      </div>
    </div>
  </div>
  </body>
</html>
