<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<script src="/assets/js/moment.js"></script>
<link rel="stylesheet" href="/assets/css/lab.min.css" type="text/css">

<style>
    #properties {
        width: 100%;
    }

    #properties th {
        background-color: teal;
        color: white;
        text-align: center;
        line-height: 2em;
    }

    #properties tbody {
        text-align: center;
        line-height: 2em;
        letter-spacing: 1;
    }

</style>

<script type="text/javascript">
    var tt_cancel_destination = "/";

    var properties = [
        "activate.cervical.cancer.screening",
        "activate.drug.management",
        "activate.htn.enhancement",
        "activate.vl.routine.check",
        "ask.pills.remaining.at.home",
        "clinic.appointment.limit",
        "clinic.days",
        "clinic.holidays",
        "htn.systolic.threshold",
        "htn.diastolic.threshold",
        "htn.screening.age.threshold",
        "filing.number.limit",
        "use.filing.number",
        "enable.fast.track",
    ]

    function showSystemConfigurations() {
        html = "<table>";
        html += "</html>";
        jQuery("#nextButton").hide();
        jQuery("#keyboard").hide();
        jQuery("#clearButton").hide();
        jQuery("#cancelButton").hide();

        jQuery(".inputFrameClass").css("width", "96%");
        jQuery(".inputFrameClass").css("height", "80%");
        jQuery(".inputFrameClass").css("overflow-x", "auto");

        finishButtonHtml = '<button class="button navButton green"  onmousedown="gotoHome();"><span>Finish</span></button>'
        jQuery("#buttons").append(finishButtonHtml);

        var cervical_cancer_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        cervical_cancer_property_url += "/api/v1/global_properties?property=activate.cervical.cancer.screening";

        var drug_management_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        drug_management_property_url += "/api/v1/global_properties?property=activate.drug.management";

        var activate_htn_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        activate_htn_property_url += "/api/v1/global_properties?property=activate.htn.enhancement";

        var activate_vl_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        activate_vl_property_url += "/api/v1/global_properties?property=activate.vl.routine.check";

        var ask_pills_at_home_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        ask_pills_at_home_property_url += "/api/v1/global_properties?property=ask.pills.remaining.at.home";

        var clinic_appointment_limit_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        clinic_appointment_limit_property_url += "/api/v1/global_properties?property=clinic.appointment.limit";

        var clinic_days_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        clinic_days_property_url += "/api/v1/global_properties?property=clinic.days";

        var clinic_holidays_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        clinic_holidays_property_url += "/api/v1/global_properties?property=clinic.holidays";

        var htn_systolic_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        htn_systolic_property_url += "/api/v1/global_properties?property=htn.systolic.threshold";

        var htn_diastolic_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        htn_diastolic_property_url += "/api/v1/global_properties?property=htn.diastolic.threshold";

        var htn_age_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        htn_age_property_url += "/api/v1/global_properties?property=htn.screening.age.threshold";

        var filing_number_limit_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        filing_number_limit_property_url += "/api/v1/global_properties?property=filing.number.limit";

        var use_filing_number_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        use_filing_number_property_url += "/api/v1/global_properties?property=use.filing.numbers";

        var activate_fast_track_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        activate_fast_track_property_url += "/api/v1/global_properties?property=enable.fast.track";


        var count = 0
        var xhttp1 = new XMLHttpRequest();

        var html = "<table id='properties'>";
        html += "<thead>";
        html += "<th>&nbsp;</th>";
        html += "<th>Property</th>";
        html += "<th>Value</th>";
        html += "</thead>";
        html += "<tbody>";

        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                var property = JSON.parse(this.responseText);
                html += "<tr>";
                html += "<td>" + (count = count + 1) + "</td>";
                html += "<td>Activate cervical cancer screening</td>";
                try {
                    property = property["activate.cervical.cancer.screening"];
                    if (property == "true") {
                        html += "<td>Yes</td>";
                    } else {
                        html += "<td>No</td>";
                    }
                } catch (e) {
                    html += "<td>Not set</td>";
                }
                html += "</tr>";

                var xhttp2 = new XMLHttpRequest();
                xhttp2.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                        var property = JSON.parse(this.responseText);
                        html += "<tr>";
                        html += "<td>" + (count = count + 1) + "</td>";
                        html += "<td>Activate drug management</td>";
                        try {
                            property = property["activate.drug.management"];
                            if (property == "true") {
                                html += "<td>Yes</td>";
                            } else {
                                html += "<td>No</td>";
                            }
                        } catch (e) {
                            html += "<td>Not set</td>";
                        }
                        html += "</tr>";
                        var xhttp3 = new XMLHttpRequest();
                        xhttp3.onreadystatechange = function () {
                            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                var property = JSON.parse(this.responseText);
                                html += "<tr>";
                                html += "<td>" + (count = count + 1) + "</td>";
                                html += "<td>Activate hypertension screening</td>";
                                try {
                                    property = property["activate.htn.enhancement"];
                                    if (property == "true") {
                                        html += "<td>Yes</td>";
                                    } else {
                                        html += "<td>No</td>";
                                    }
                                } catch (e) {
                                    html += "<td>Not set</td>";
                                }
                                html += "</tr>";

                                var xhttp4 = new XMLHttpRequest();
                                xhttp4.onreadystatechange = function () {
                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                        var property = JSON.parse(this.responseText);
                                        html += "<tr>";
                                        html += "<td>" + (count = count + 1) + "</td>";
                                        html += "<td>Activate viral load</td>";
                                        try {
                                            property = property["activate.vl.routine.check"];
                                            if (property == "true") {
                                                html += "<td>Yes</td>";
                                            } else {
                                                html += "<td>No</td>";
                                            }
                                        } catch (e) {
                                            html += "<td>Not set</td>";
                                        }
                                        html += "</tr>";


                                        var xhttp5 = new XMLHttpRequest();
                                        xhttp5.onreadystatechange = function () {
                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                var property = JSON.parse(this.responseText);
                                                html += "<tr>";
                                                html += "<td>" + (count = count + 1) + "</td>";
                                                html += "<td>Ask pills at home</td>";
                                                try {
                                                    property = property["ask.pills.remaining.at.home"];
                                                    if (property == "true") {
                                                        html += "<td>Yes</td>";
                                                    } else {
                                                        html += "<td>No</td>";
                                                    }
                                                } catch (e) {
                                                    html += "<td>Not set</td>";
                                                }
                                                html += "</tr>";

                                                var xhttp6 = new XMLHttpRequest();
                                                xhttp6.onreadystatechange = function () {
                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                        var property = JSON.parse(this.responseText);
                                                        html += "<tr>";
                                                        html += "<td>" + (count = count + 1) + "</td>";
                                                        html += "<td>Appointment limit</td>";
                                                        try {
                                                            property = property["clinic.appointment.limit"];
                                                            html += "<td>" + property + "</td>";
                                                        } catch (e) {
                                                            html += "<td>Not set</td>";
                                                        }
                                                        html += "</tr>";

                                                        var xhttp7 = new XMLHttpRequest();
                                                        xhttp7.onreadystatechange = function () {
                                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                var property = JSON.parse(this.responseText);
                                                                html += "<tr>";
                                                                html += "<td>" + (count = count + 1) + "</td>";
                                                                html += "<td>Clinic days</td>";
                                                                property = property["clinic.days"];
                                                                if (property) {
                                                                    html += "<td>" + property + "</td>";
                                                                } else {
                                                                    html += "<td>Not set</td>";
                                                                }

                                                                html += "</tr>";

                                                                var xhttp8 = new XMLHttpRequest();
                                                                xhttp8.onreadystatechange = function () {
                                                                    +3
                                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                        var property = JSON.parse(this.responseText);
                                                                        html += "<tr>";
                                                                        html += "<td>" + (count = count + 1) + "</td>";
                                                                        html += "<td>Clinic holidays</td>";
                                                                        property = property["clinic.holidays"];
                                                                        if (property) {
                                                                            html += "<td>" + property + "</td>";
                                                                        } else {
                                                                            html += "<td>Not set</td>";
                                                                        }

                                                                        html += "</tr>";

                                                                        var xhttp9 = new XMLHttpRequest();
                                                                        xhttp9.onreadystatechange = function () {
                                                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                                var property = JSON.parse(this.responseText);
                                                                                html += "<tr>";
                                                                                html += "<td>" + (count = count + 1) + "</td>";
                                                                                html += "<td>Systolic blood pressure</td>";
                                                                                property = property["htn.systolic.threshold"];
                                                                                if (property) {
                                                                                    html += "<td>" + property + "</td>";
                                                                                } else {
                                                                                    html += "<td>Not set</td>";
                                                                                }

                                                                                html += "</tr>";

                                                                                var xhttp10 = new XMLHttpRequest();
                                                                                xhttp10.onreadystatechange = function () {
                                                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                                        var property = JSON.parse(this.responseText);
                                                                                        html += "<tr>";
                                                                                        html += "<td>" + (count = count + 1) + "</td>";
                                                                                        html += "<td>Diastolic blood pressure</td>";
                                                                                        property = property["htn.diastolic.threshold"];
                                                                                        if (property) {
                                                                                            html += "<td>" + property + "</td>";
                                                                                        } else {
                                                                                            html += "<td>Not set</td>";
                                                                                        }

                                                                                        html += "</tr>";

                                                                                        var xhttp11 = new XMLHttpRequest();
                                                                                        xhttp11.onreadystatechange = function () {
                                                                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                                                var property = JSON.parse(this.responseText);
                                                                                                html += "<tr>";
                                                                                                html += "<td>" + (count = count + 1) + "</td>";
                                                                                                html += "<td>HTN screening age</td>";
                                                                                                property = property["htn.screening.age.threshold"];
                                                                                                if (property) {
                                                                                                    html += "<td>" + property + "</td>";
                                                                                                } else {
                                                                                                    html += "<td>Not set</td>";
                                                                                                }

                                                                                                html += "</tr>";

                                                                                                var xhttp12 = new XMLHttpRequest();
                                                                                                xhttp12.onreadystatechange = function () {
                                                                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                                                        var property = JSON.parse(this.responseText);
                                                                                                        html += "<tr>";
                                                                                                        html += "<td>" + (count = count + 1) + "</td>";
                                                                                                        html += "<td>Filing number limit</td>";
                                                                                                        property = property["filing.number.limit"];
                                                                                                        if (property) {
                                                                                                            html += "<td>" + property + "</td>";
                                                                                                        } else {
                                                                                                            html += "<td>Not set</td>";
                                                                                                        }

                                                                                                        html += "</tr>";

                                                                                                        var xhttp13 = new XMLHttpRequest();
                                                                                                        xhttp13.onreadystatechange = function () {
                                                                                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                                                                var property = JSON.parse(this.responseText);
                                                                                                                html += "<tr>";
                                                                                                                html += "<td>" + (count = count + 1) + "</td>";
                                                                                                                html += "<td>Use filing number</td>";
                                                                                                                property = property["use.filing.numbers"];
                                                                                                                if (property) {
                                                                                                                    if (property == "true") {
                                                                                                                        html += "<td>Yes</td>";
                                                                                                                    } else {
                                                                                                                        html += "<td>No</td>";
                                                                                                                    }
                                                                                                                } else {
                                                                                                                    html += "<td>Not set</td>";
                                                                                                                }

                                                                                                                html += "</tr>";

                                                                                                                var xhttp14 = new XMLHttpRequest();
                                                                                                                xhttp14.onreadystatechange = function () {
                                                                                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                                                                                                        var property = JSON.parse(this.responseText);
                                                                                                                        html += "<tr>";
                                                                                                                        html += "<td>" + (count = count + 1) + "</td>";
                                                                                                                        html += "<td>Activate fast track</td>";
                                                                                                                        property = property["enable.fast.track"];
                                                                                                                        if (property) {
                                                                                                                            if (property == "true") {
                                                                                                                                html += "<td>Yes</td>";
                                                                                                                            } else {
                                                                                                                                html += "<td>No</td>";
                                                                                                                            }
                                                                                                                        } else {
                                                                                                                            html += "<td>Not set</td>";
                                                                                                                        }

                                                                                                                        html += "</tr>";
                                                                                                                        html += "</tbody>";
                                                                                                                        html += "<table>";
                                                                                                                        jQuery(".inputFrameClass").append(html)
                                                                                                                    }
                                                                                                                }
                                                                                                                xhttp14.open("GET", activate_fast_track_property_url, true);
                                                                                                                xhttp14.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                                                                xhttp14.setRequestHeader('Content-type', "application/json");
                                                                                                                xhttp14.send();

                                                                                                            }
                                                                                                        };

                                                                                                        xhttp13.open("GET", use_filing_number_property_url, true);
                                                                                                        xhttp13.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                                                        xhttp13.setRequestHeader('Content-type', "application/json");
                                                                                                        xhttp13.send();

                                                                                                    }
                                                                                                };

                                                                                                xhttp12.open("GET", filing_number_limit_property_url, true);
                                                                                                xhttp12.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                                                xhttp12.setRequestHeader('Content-type', "application/json");
                                                                                                xhttp12.send();
                                                                                            }
                                                                                        };

                                                                                        xhttp11.open("GET", htn_age_property_url, true);
                                                                                        xhttp11.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                                        xhttp11.setRequestHeader('Content-type', "application/json");
                                                                                        xhttp11.send();

                                                                                    }
                                                                                };

                                                                                xhttp10.open("GET", htn_diastolic_property_url, true);
                                                                                xhttp10.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                                xhttp10.setRequestHeader('Content-type', "application/json");
                                                                                xhttp10.send();
                                                                            }
                                                                        };
                                                                        xhttp9.open("GET", htn_systolic_property_url, true);
                                                                        xhttp9.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                        xhttp9.setRequestHeader('Content-type', "application/json");
                                                                        xhttp9.send();
                                                                    }
                                                                };
                                                                xhttp8.open("GET", clinic_holidays_property_url, true);
                                                                xhttp8.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                xhttp8.setRequestHeader('Content-type', "application/json");
                                                                xhttp8.send();
                                                            }
                                                        };

                                                        xhttp7.open("GET", clinic_days_property_url, true);
                                                        xhttp7.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                        xhttp7.setRequestHeader('Content-type', "application/json");
                                                        xhttp7.send();

                                                    }
                                                };
                                                xhttp6.open("GET", clinic_appointment_limit_property_url, true);
                                                xhttp6.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                xhttp6.setRequestHeader('Content-type', "application/json");
                                                xhttp6.send();
                                            }
                                        };
                                        xhttp5.open("GET", ask_pills_at_home_property_url, true);
                                        xhttp5.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                        xhttp5.setRequestHeader('Content-type', "application/json");
                                        xhttp5.send();
                                    }
                                };
                                xhttp4.open("GET", activate_vl_property_url, true);
                                xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                xhttp4.setRequestHeader('Content-type', "application/json");
                                xhttp4.send();
                            }
                        };
                        xhttp3.open("GET", activate_htn_property_url, true);
                        xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                        xhttp3.setRequestHeader('Content-type', "application/json");
                        xhttp3.send();
                    }
                }
                xhttp2.open("GET", drug_management_property_url, true);
                xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp2.setRequestHeader('Content-type', "application/json");
                xhttp2.send();
            }
        };

        xhttp1.open("GET", cervical_cancer_property_url, true);
        xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp1.setRequestHeader('Content-type', "application/json");
        xhttp1.send();
    }

    function gotoHome() {
        window.location = "/";
    }

</script>

<body id="mateme">
<div id="container">
    <div id="content">
        <form>

            <input type="text" name="summary"
                   tt_onLoad="showSystemConfigurations();"
                   tt_pageStyleClass="NoControls" helpText="System settings" optional="true"/>


        </form>

    </div>
</div>
</body>

