#clearButton { 
  display: none;
}

#main-container {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 15px;
}

#main-container-row {
  display: table-row;
}

.main-container-header-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  width: 50%;
  box-shadow: 5px 10px #888888;
  font-size: 1.3em;
  font-weight: bold;
}

.main-container-data-cell {
  display: table-cell;
  height: 100%;
  border-style: solid;
  border-width: 1px;
}

#diagnosis-box {
  display: none;
  background-color: #F4F4F4;
  border: 2px solid #E0E0E0;
  border-radius: 15px;
  height: 95%;
  padding: 5px;
  position: absolute;
  top: 10px;
  width: 97%;
  left: 1%;
  z-index: 991;
}

#diagnosis-cover {
  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 102%;
  left: 0%;
  top: 0%;
  z-index: 990;
  opacity: 0.65;
}

#diagnosis-nav-bar {
  background-color: #333333;
  height: 80px;
  bottom: 0px;
  position: absolute;
  width: 99%;
  border-radius: 0px 0px 9px 9px;
}

.nav-diagnosis-btns {
  margin-top: 1% !important;
  width: 150px;
}

#diagnosis-container {
  margin-top: 0% !important;
  height: 87%;
  width: 100%;
}

#search-results li {
  color: black;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
  font-size: 2.0em;
}

.remove-diagnosis {
  height: 60px;
  width: 60px;
}

.diagnosis-tables {
  width: 100%;
  border-collapse: collapse;
}

.diagnosis-tables td {
  vertical-align: middle;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

