

#complaints-container {
  display: table;
  width: 100%;
  margin: 5px;
  border-spacing: 10px;
}

.complaints-container-row {
  display: table-row;
}

.complaints-container-cell {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 5px 6px #ccc; 
  height: 50px;
  vertical-align: middle;
  text-align: center;
  width: 20%;
}

