<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

    <script type="text/javascript" language="javascript">
        var patientID = sessionStorage.getItem("patientID");
        var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

        var radiology_orders_hash ={
            "Chest":["Chest OBL", "Chest Both OBL", "Left Ribs", "Right Ribs", "Chest Lat", "Sternum", "Left chest Decubitus", 
                    "Right chest Decubitus", "Chest AP", "Chest PA","Bilateral Ribs", "Left chest Lat", "Right chest Lat", "Clavicle Left AP",
                    "Clavicle Right AP", "Portable AP", "Chest PA+Lat", "Ribs AP", "Clavicle Bil AP","Lordotic AP"],

            "C-Spine":["Open Mouth C1-C2 AP", "Flexion+Extension", "Cspine Lat", "Cspine AP", "Cspine Lat+OBL", "Cspine AP+Lat", "Neck Soft tissue AP", 
                        "Both Soft tissue Lat", "Cspine Both OBL"],

            "T-Spine":["Tspine AP+LAT", "Tspine Lat", "Tspine AP", "Bil OBL"],
            "L-Spine":["Coccyx", "Lspine Lat", "Lspine OBL", "Sacrum", "Lspine AP+Lat", "Extension", "Lspine AP", "Lspine Both OBL", "Flexion"],
            "Wrist":["Left wrist AP+Lat", "Right wrist AP+Lat", "R+L wrist AP+Lat", "Wrist AP", "Wrist Lat", "Ulner flexion(Navicula)", "Rigt deviation", "Carpal tunnel"],
            "Elbow":["Left elbow AP+Lat", "Right elbow AP+Lat", "Elbow AP", "R+L elbow ", "AP+Lat", "Elbow Lat"],
            "Femur":["Left femur AP+Lat", "Right femur AP+Lat", "Femur AP", "Femur Lat", "Femoral Necks", "Lower Femur"],

            "Foot":["Left Foot(ture lat)", "Right Foot(ture lat)", "R+L Calcaneous Bone", "Left Foot", "Right Foot", 
                    "Left Calcaneous Bone Axial+Lat", "Right Calcaneous Bone Axial+Lat", "Left Calcaneous Bone Axial", "Right Calcaneous Bone Axial",
                    "Foot AP", "R+L Foot", "R+L Foot(ture lat)", "Foot oblique", "Foot Lat"],

            "Forearm":["Left forearm Ap+Lat", "Right forearm Ap+Lat", "R+L forearm Ap+Lat", "Forearm AP", "Forearm Lat"],
            "Abdomen":["Supine AP", "Standing AP", "Standing PA", "Upright", "Left Abdimonal Decubitus", "Right Abdimonal Decubitus"],
            "Ankle":["Both ankle AP+Lat", "Left ankle AP+Lat", "Right ankle AP+Lat", "stress AP", "Ankle AP", "Ankle Lat"],
            "Hand":["Left hand AP+Lat", "Right hand AP+Lat", "R+L hand AP+Lat", "Hand AP", "Hand Lat", "Finger AP", "Finger PA", "Finger LAT", "Hand OBL"],
            "Heel":["Hell Lat", "Hell Axial"],
            "Humerus":["Left humerus eAP+Lat", "Right humerus AP+Lat", "R+L humerus AP+Lat", "Humerus AP", "Humerus Lat"],
            "Knee":["Left knee AP+Lat", "Right knee AP+Lat", "R+L knee AP+Lat", "Tangang view", "R+L knee AP+Lat standing", "Right Pattela Sunrise view"],
            "KUB": ["Left kub Decubitus", "Right kub Decubitus", "Kub AP"],
            "Leg":["Left leg AP+Lat", "Right leg AP+Lat", "R+L leg AP+Lat", "Leg AP", "Leg Lat"],
            "Pelvis":["Pelvis AP", "Frog view", "Pelvimetry", "Pelvis Lat", " Inlet", "Outlet"],

            "Shoulder":["Ac joints", "etx", "Shoulder AP", "Shoulder Left AP+Lat", "Right shoulder AP+Lat", "Apical", "int",
                        "Scapula AP+Lat", "Shoulder Axial view", "Clavicle(AP)", "R+L shoulder  AP", "Left Clavile", "Right Clavile"],

            "Skull":["Basal view", "AP View", "PA View", "Towne view", "Left T-M joint", "Right TM joint", "Orbit", "Skull Lat", "Waters view",
                    "Nasal bone", "Stenvers view", "Optical Canal", "Sinuses", "Sella Turcica", "Mastiod bone", "Mandible", "Left Zygomatic arch", "Right Zygomatic arch", 
                    "Submental vertex view (SMV)", "Left Lat oblique view", "Right Lateral oblique view", "Maxillae AP+LAT", "Schulers view"],

            "Special":["Intravenous urography (IVU)", "Urethrogram", "Cystogram", "Cystourethrogram", "Hysterosalpingography (HSG)", "Barium swallow", "Barium meal",
                    "Barium follow-throuh", "Barium enema", "Loopogram (Cologramm)", "Angiogram lower limb", "Angiogram upper limb", "Venogram"],
            
        }
  

        function replaceImages() {
            var image_tags = document.getElementsByTagName("img");
            for (var i = 0; i <= image_tags.length - 1; i++) {
                var src = image_tags[i].getAttribute("src");
                if (!src.match(/public/i)) {
                    var new_img_src = "/public" + src;
                    image_tags[i].src = new_img_src;
                }
            }
        }

        window.setInterval("replaceImages()", 10)

        function calculate_checkdigit(number) {
            number = String(number).split("");
            parity = number.length % 2;
            sum = 0;
            for (var i = 0; i <= number.length - 1; i++) {
                index = i;
                digit = parseInt(number[i]);
                if ((index % 2) == parity) {
                    digit = digit * 2;
                }
                if (digit > 9) {
                    digit = digit - 9
                }
                sum = sum + digit
            }

            checkdigit = 0;
            while (((sum + (checkdigit)) % 10) != 0) {
                checkdigit = checkdigit + 1
            }
            return checkdigit
        }


        function submitRadiologyOrders() {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_id: 121,
                patient_id: patientID,
                encounter_datetime: encounter_datetime
            }

            submitParameters(encounter, "/encounters", "postRadiologyOrdersObs");
        }
        var concept_map = {
           
           "Chest":"2422",
           "C-Spine":"",
           "T-Spine":"",
           "L-Spine":"",
           "Wrist":"",
           "Elbow":"",
           "Femur":"9285",
           "Foot":"7914",
           "Forearm":"",
           "Abdomen":"8400",
           "Ankle":"",
           "Hand":"7913",
           "Heel":"",
           "Humerus":"9287",
           "Knee":"",
           "KUB": "101",
           "Leg":"",
           "Pelvis":"8131",
           "Shoulder":"7915",
           "Skull":"8128",
           "Special":""
       };
       function postRadiologyOrdersObs(encounter)
       {
           get_accession_number();
           var tests_ordered_concept_id = 8426;
           var obs = {
               encounter_id: encounter.encounter_id,
               observations: []
           };
           var selected_values = __$('touchscreenInput' + tstCurrentPage).value.split(';');
           // alert(selected_values.join());
           for (var key in radiology_orders_hash) {
               var orders = radiology_orders_hash[key];
               for (var i = 0; i <= orders.length - 1; i++) {
                   var order = orders[i];
                   if (selected_values.includes(order)) {
                       

                       obs.observations.push({
                           concept_id: tests_ordered_concept_id,
                           value_text: key,
                           child: {
                               concept_id: concept_map[key],
                               accession_number: last_accession_number,
                               value_text: order
                           }

                       })
                   }
               }
           }

           submitParameters(obs, "/observations", "submitRadiologyParameters")
                   
       }
       function submitRadiologyParameters(array_obj) 
       {
            var patient_name = sessionStorage.getItem("family_name")+" "+sessionStorage.getItem("given_name");
            var accession_number = array_obj[0].children[0].accession_number;
            var date_created = array_obj[0].date_created;

            var patient_data = {  
               patient_details:
                {
                    "patient_name": patient_name ,
                    "patientAge": sessionStorage.getItem("patientAge"),
                    "patientDOB": sessionStorage.getItem("patientDOB"),
                    "patientGender": sessionStorage.getItem("patientGender"),
                    "national_id": sessionStorage.getItem("national_id"),
                    "person_id": array_obj[0].person_id,
                    "encounter_id": array_obj[0].encounter_id,
                    "date_created": date_created,
                    "accession_number": accession_number,
                },
                physician_details:
                {
                    "username": sessionStorage.getItem("username"),
                    "userID": sessionStorage.getItem("userID"),
                    "userRoles": sessionStorage.getItem("userRoles"),
                },
               radiology_orders: []
            };
        
            var radiology_orders_string = "";
            for(var key in array_obj)
            {
                var obj = array_obj[key];
                patient_data.radiology_orders.push(
                { 
                    "main_value_text": obj.value_text,
                    "obs_id": obj.obs_id,
                    "sub_value_text": obj.children[0].value_text,
                });

                if(radiology_orders_string == "")
                    radiology_orders_string = obj.children[0].value_text;
                else
                    radiology_orders_string = radiology_orders_string +","+ obj.children[0].value_text;

            }

            sessionStorage.setItem("radiology_orders", radiology_orders_string); 
            sessionStorage.setItem("radiology_accession_number", accession_number); 
            sessionStorage.setItem("date_created", date_created); 
            // print_barcode();

            jQuery(".loader").show();
            submitParameters(patient_data, "/radiology/radiology_orders", "print_barcode()")
       }

 
       function print_barcode()
       {
            var radiology_barcode_url = "/views/print/radiology_barcode.html";
            window.location =radiology_barcode_url;
       }
        function changeNextButtonToSubmitRadiologyOrders() {

            var nextButton = document.getElementById('nextButton');
            nextButton.onmousedown = function () {
                var value = __$('touchscreenInput' + tstCurrentPage).value;
                if (!value) {
                    showMessage("Select value to continue")
                    return
                }
                submitRadiologyOrders();
            }
        }

        function gotoPatientDashboard() {
            window.location = tt_cancel_destination;
        }

        var tests_ordered_concept_id = 8426;
        var last_accession_number;

        function initializeVariables() {
            jQuery(".loader").show();
            jQuery('#keyboard').hide();
            jQuery("#buttons").hide();
            jQuery("#inputFrame" + tstCurrentPage).hide();

            gotoNextPage();
        }

        function get_accession_number()
        {
            var accession_number_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            accession_number_url += "/api/v1/sequences/next_accession_number";

            var xhttp1 = new XMLHttpRequest();
            xhttp1.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var new_accn_number = JSON.parse(this.responseText)["accession_number"];
                    last_accession_number = new_accn_number;
                    console.log(last_accession_number);
                    
                }
            };
            xhttp1.open("GET", accession_number_url, false);
            xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp1.setRequestHeader('Content-type', "application/json");
            xhttp1.send();
        }

        function resetPage() {
            jQuery('#keyboard').show();
            jQuery("#buttons").show();
            jQuery("#innerPop").show()
            jQuery("#inputFrame" + tstCurrentPage).show();
            jQuery(".loader").hide();
        }

    </script>

    <style type="text/css">
        .loader {
            position: absolute;
            display: none;
            top: 30%;
            left: 40%;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            z-index: 9999999999999;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body id="container">
<div id="content">

    <style type="text/css" media="screen">
        #space {
            display: inline;
            font-size: 1.2em;
        }

        form {
            display: block !important;
        }
    </style>

    <form id='radiology_types'>
        <input type="text" name="initialize"
               tt_onLoad="initializeVariables();"
               tt_onUnLoad="resetPage();"
               tt_pageStyleClass="NoControls"
               optional="true"/>

        <select id="multiple" class="multi" name="radiology_orders[]" helptext="Select Radiology orders" multiple="multiple"
                nested="true" tt_onLoad="changeNextButtonToSubmitRadiologyOrders();">
            <option></option>

            <optgroup id="chest" label="Chest">
                <option id="Chest OBL" value="Chest:Chest OBL">Chest OBL</option>
                <option id="Chest Both OBL" value="Chest:Chest Both OBL">Chest Both OBL</option>
                <option id="Left Ribs" value="Chest:Left Ribs">Left Ribs</option>
                <option id="Right Ribs" value="Chest:Right Ribs">Right Ribs</option>
                <option id="Chest Lat" value="Chest:Chest Lat">Chest Lat</option>
                <option id="Sternum" value="Chest:Sternum">Sternum</option>
                <option id="Left chest Decubitus" value="Chest:Left chest Decubitus">Left chest Decubitus</option>
                <option id="Right chest Decubitus" value="Chest:Right chest Decubitus">Right chest Decubitus</option>
                <option id="Chest AP" value="Chest:Chest AP">Chest AP</option>
                <option id="Chest PA" value="Chest:Chest PA">Chest PA</option>
                <option id="Bilateral Ribs" value="Chest:Bilateral Ribs">Bilateral Ribs</option>
                <option id="Left chest Lat" value="Chest:Left chest Lat">Left chest Lat</option>
                <option id="Right chest Lat" value="Chest:Right chest Lat">Right chest Lat</option>
                <option id="Clavicle Left AP" value="Chest:Clavicle Left AP">Clavicle Left AP</option>
                <option id="Clavicle Right AP" value="Chest:Clavicle Right AP">Clavicle Right AP</option>
                <option id="Portable AP" value="Chest:Portable AP">Portable AP</option>
                <option id="Chest PA+Lat" value="Chest:Chest PA+Lat">Chest PA+Lat</option>
                <option id="Ribs AP" value="Chest:Ribs AP">Ribs AP </option>
                <option id=" Clavicle Bil AP" value="Chest: Clavicle Bil AP">Clavicle Bil AP</option>
                <option id="Lordotic AP" value="Chest:Lordotic AP">Lordotic AP</option>
            </optgroup>


            <optgroup id="cspine" label="C-Spine">
                <option id="Open Mouth C1-C2 AP" value="C-Spine:Open Mouth C1-C2 AP">Open Mouth C1-C2 AP</option>
                <option id="Flexion+Extension" value="C-Spine:Flexion+Extension">Flexion+Extension</option>
                <option id="Cspine Lat" value="C-Spine:Cspine Lat">Cspine Lat</option>
                <option id="Cspine AP" value="C-Spine:Cspine AP">Cspine AP</option>
                <option id="Cspine Lat+OBL" value="C-Spine:Cspine Lat+OBL">Cspine Lat+OBL</option>
                <option id="Cspine AP+Lat" value="C-Spine:Cspine AP+Lat">Cspine AP+Lat</option>
                <option id="Neck Soft tissue AP" value="C-Spine:Neck Soft tissue AP">Neck Soft tissue AP</option>
                <option id="Both Soft tissue Lat" value="C-Spine:Both Soft tissue Lat">Both Soft tissue Lat</option>
                <option id="Cspine Both OBL" value="C-Spine:Cspine Both OBL">Cspine Both OBL</option>
            </optgroup>
          
            <optgroup id="tspine" label="T-Spine">
                <option id="Tspine AP+LAT," value="T-Spine:Tspine AP+LAT,">Tspine AP+LAT,</option>
                <option id="Tspine Lat" value="T-Spine:Tspine Lat">Tspine Lat</option>
                <option id="Tspine AP" value="T-Spine:Tspine AP">Tspine AP</option>
                <option id="Bil OBL" value="T-Spine:Bil OBL">Bil OBL</option>
            </optgroup>
         
            <optgroup id="lspine" label="L-Spine">
                <option id="Coccyx" value="L-Spine:Coccyx">Coccyx</option>
                <option id="Lspine Lat" value="L-Spine:Lspine Lat">Lspine Lat</option>
                <option id="Lspine OBL" value="L-Spine:Lspine OBL">Lspine OBL</option>
                <option id="Sacrum" value="L-Spine:Sacrum">Sacrum</option>
                <option id="Lspine AP+Lat" value="L-Spine:Lspine AP+Lat">Lspine AP+Lat</option>
                <option id="Extension" value="L-Spine:Extension">Extension</option>
                <option id="Lspine AP" value="L-Spine:Lspine AP">Lspine AP</option>
                <option id="Lspine Both OBL" value="L-Spine:Lspine Both OBL">Lspine Both OBL</option>
                <option id="Flexion" value="L-Spine:Flexion">Flexion</option>
            </optgroup>
           
            <optgroup id="wrist" label="Wrist">
                <option id="Left wrist AP+Lat," value="Wrist:Left wrist AP+Lat,">Left wrist AP+Lat,</option>
                <option id="Right wrist AP+Lat" value="Wrist:Right wrist AP+Lat">Right wrist AP+Lat</option>
                <option id="R+L wrist AP+Lat" value="Wrist:R+L wrist AP+Lat">R+L wrist AP+Lat</option>
                <option id="Wrist AP" value="Wrist:Wrist AP">Wrist AP</option>
                <option id="Wrist Lat" value="Wrist:Wrist Lat">Wrist Lat</option>
                <option id="Ulner flexion(Navicula)" value="Wrist:Ulner flexion(Navicula)">Ulner flexion(Navicula)</option>
                <option id="Rigt deviation" value="Wrist:Rigt deviation">Rigt deviation</option>
                <option id="Carpal tunnel" value="Wrist:Carpal tunnel">Carpal tunnel</option>
            </optgroup>

            <optgroup id="elbow" label="Elbow">
                <option id="Left elbow AP+Lat" value="Elbow:Left elbow AP+Lat">Left elbow AP+Lat</option>
                <option id="Right elbow AP+Lat" value="Elbow:Right elbow AP+Lat">Right elbow AP+Lat</option>
                <option id="Elbow AP" value="Elbow:Elbow AP">Elbow AP</option>
                <option id="R+L elbow AP+Lat" value="Elbow:R+L elbow AP+Lat">R+L elbow AP+Lat</option>
                <option id="Elbow Lat" value="Elbow:Elbow Lat">Elbow Lat</option>
            </optgroup>

            <optgroup id="femur" label="Femur">
                <option id="Left femur AP+Lat" value="Femur:Left femur AP+Lat">Left femur AP+Lat</option>
                <option id="Right femur AP+Lat" value="Femur:Right femur AP+Lat">Right femur AP+Lat</option>
                <option id="Femur AP" value="Femur:Femur AP">Femur AP</option>
                <option id="Femur Lat" value="Femur:Femur Lat">Femur Lat</option>
                <option id="Femoral Necks" value="Femur:Femoral Necks">Femoral Necks</option>
                <option id="Lower Femur" value="Femur:Lower Femur">Lower Femur</option>
            </optgroup>

            <optgroup id="foot" label="Foot">
                <option id="Left Foot(ture lat)" value="Foot:Left Foot(ture lat)">Left Foot(ture lat)</option>
                <option id="Right Foot(ture lat)" value="Foot:Right Foot(ture lat)">Right Foot(ture lat) </option>
                <option id="R+L Calcaneous Bone" value="Foot:R+L Calcaneous Bone">R+L Calcaneous Bone </option>
                <option id="Left Foot" value="Foot:Left Foot">Left Foot </option>
                <option id="Right Foot" value="Foot:Right Foot">Right Foot </option>
                <option id="Left Calcaneous Bone Axial+Lat" value="Foot:Left Calcaneous Bone Axial+Lat">Left Calcaneous Bone Axial+Lat </option>
                <option id="Right Calcaneous Bone Axial+Lat" value="Foot:Right Calcaneous Bone Axial+Lat">Right Calcaneous Bone Axial+Lat </option>
                <option id="Left Calcaneous Bone Axial" value="Foot:Left Calcaneous Bone Axial">Left Calcaneous Bone Axial </option>
                <option id="Right Calcaneous Bone Axial" value="Foot:Right Calcaneous Bone Axial">Right Calcaneous Bone Axial </option>
                <option id="Foot AP" value="Foot:Foot AP">Foot AP </option>
                <option id="R+L Foot" value="Foot:R+L Foot">R+L Foot </option>
                <option id="R+L Foot(ture lat)" value="Foot:R+L Foot(ture lat)">R+L Foot(ture lat) </option>
                <option id="Foot oblique" value="Foot:Foot oblique">Foot oblique </option>
                <option id="Foot Lat" value="Foot:Foot Lat">Foot Lat </option>
            </optgroup>

            <optgroup id="forearm" label="Forearm">
                <option id="Left forearm Ap+Lat" value="Forearm:Left forearm Ap+Lat">Left forearm Ap+Lat</option>
                <option id="Right forearm Ap+Lat" value="Forearm:Right forearm Ap+Lat">Right forearm Ap+Lat </option>
                <option id="R+L forearm Ap+Lat" value="Forearm:R+L forearm Ap+Lat">R+L forearm Ap+Lat </option>
                <option id="Forearm AP" value="Forearm:Forearm AP">Forearm AP </option>
                <option id="Forearm Lat" value="Forearm:Forearm Lat">Forearm Lat </option>
            </optgroup>

            <optgroup id="abdomen" label="Abdomen">
                <option id="Supine AP" value="Abdomen:Supine AP">Supine AP</option>
                <option id="Standing AP" value="Abdomen:Standing AP">Standing AP</option>
                <option id="Standing PA" value="Abdomen:Standing PA">Standing PA</option>
                <option id="Upright" value="Abdomen:Upright">Upright</option>
                <option id="Left Abdimonal Decubitus" value="Abdomen:Left Abdimonal Decubitus">Left Abdimonal Decubitus</option>
                <option id="Right Abdimonal Decubitus" value="Abdomen:Right Abdimonal Decubitus">Right Abdimonal Decubitus</option>
            </optgroup>

            <optgroup id="ankle" label="Ankle">
                <option id="Both ankle AP+Lat" value="Ankle:Both ankle AP+Lat">Both ankle AP+Lat</option>
                <option id="Left ankle AP+Lat" value="Ankle:Left ankle AP+Lat">Left ankle AP+Lat</option>
                <option id="Right ankle AP+Lat" value="Ankle:Right ankle AP+Lat">Right ankle AP+Lat</option>
                <option id="stress AP," value="Ankle:stress AP,">stress AP,</option>
                <option id="Ankle AP" value="Ankle:Ankle AP">Ankle AP</option>
                <option id="Ankle Lat" value="Ankle:Ankle Lat">Ankle Lat</option>
            </optgroup>

            <optgroup id="hand" label="Hand">
                <option id="Left hand AP+Lat" value="Hand:Left hand AP+Lat">Left hand AP+Lat</option>
                <option id="Right hand AP+Lat" value="Hand:Right hand AP+Lat">Right hand AP+Lat</option>
                <option id="R+L hand AP+Lat" value="Hand:R+L hand AP+Lat">R+L hand AP+Lat</option>
                <option id="Hand AP" value="Hand:Hand AP">Hand AP</option>
                <option id="Hand Lat" value="Hand:Hand Lat">Hand Lat</option>
                <option id="Finger AP" value="Hand:Finger AP">Finger AP</option>
                <option id="Finger PA" value="Hand:Finger PA">Finger PA</option>
                <option id="Finger LAT" value="Hand:Finger LAT">Finger LAT</option>
                <option id="Hand OBL" value="Hand:Hand OBL">Hand OBL</option>
            </optgroup>
            , 
            <optgroup id="heel" label="Heel">
                <option id="Hell Lat" value="Heel:Hell Lat">Hell Lat</option>
                <option id="Hell Axial" value="Heel:Hell Axial">Hell Axial</option>
            </optgroup>

            <optgroup id="humerus" label="Humerus">
                <option id="Left humerus eAP+Lat" value="Humerus:Left humerus eAP+Lat">Left humerus eAP+Lat</option>
                <option id="Right humerus AP+Lat" value="Humerus:Right humerus AP+Lat">Right humerus AP+Lat</option>
                <option id="R+L humerus AP+Lat" value="Humerus:R+L humerus AP+Lat">R+L humerus AP+Lat</option>
                <option id="Humerus AP" value="Humerus:Humerus AP">Humerus AP</option>
                <option id="Humerus Lat" value="Humerus:Humerus Lat">Humerus Lat</option>
            </optgroup>

            <optgroup id="knee" label="Knee">
                <option id="Left knee AP+Lat" value="Knee:Left knee AP+Lat">Left knee AP+Lat</option>
                <option id="Right knee AP+Lat" value="Knee:Right knee AP+Lat">Right knee AP+Lat</option>
                <option id="R+L knee AP+Lat" value="Knee:R+L knee AP+Lat">R+L knee AP+Lat</option>
                <option id="Tangang view" value="Knee:Tangang view">Tangang view</option>
                <option id="R+L knee AP+Lat standing" value="Knee:R+L knee AP+Lat standing">R+L knee AP+Lat standing</option>
                <option id="Right Pattela Sunrise view" value="Knee:Right Pattela Sunrise view">Right Pattela Sunrise view</option>
            </optgroup>

            <optgroup id="kub" label="Kub">
                <option id="Left kub Decubitus" value="Kub:Left kub Decubitus">Left kub Decubitus</option>
                <option id="Right kub Decubitus" value="Kub:Right kub Decubitus">Right kub Decubitus</option>
                <option id="Kub AP" value="Kub:Kub AP">Kub AP</option>
                
            </optgroup>

            <optgroup id="leg" label="Leg">
                <option id="Left leg AP+Lat" value="Leg:Left leg AP+Lat">Left leg AP+Lat</option>
                <option id="Right leg AP+Lat" value="Leg:Right leg AP+Lat">Right leg AP+Lat</option>
                <option id="R+L leg AP+Lat" value="Leg:R+L leg AP+Lat">R+L leg AP+Lat</option>
                <option id="Leg AP" value="Leg:Leg AP">Leg AP</option>
                <option id="Leg LaLatt" value="Leg:Leg Lat">Leg Lat</option>
            </optgroup>
           

            <optgroup id="pelvis" label="Pelvis">
                 <option id="Pelvis AP" value="Pelvis:Pelvis AP">Pelvis AP</option>
                <option id="Frog view" value="Pelvis:Frog view">Frog view</option>
                <option id="Pelvimetry" value="Pelvis:Pelvimetry">Pelvimetry</option>
                <option id="Pelvis Lat" value="Pelvis:Pelvis Lat">Pelvis Lat</option>
                <option id="Inlet" value="Pelvis:Inlet">Inlet</option>
                <option id="Outlet" value="Pelvis:Outlet">Outlet</option>
             
            </optgroup>

            <optgroup id="shoulder" label="Shoulder">
                 <option id="Ac joints" value="Shoulder:Ac joints">Ac joints</option>
                <option id="etx" value="Shoulder:etx">etx</option>
                <option id="Shoulder AP" value="Shoulder:Shoulder AP">Shoulder AP</option>
                <option id="Shoulder Left AP+Lat" value="Shoulder:Shoulder Left AP+Lat">Shoulder Left AP+Lat</option>
                <option id="Right shoulder AP+Lat" value="Shoulder:Right shoulder AP+Lat">Right shoulder AP+Lat</option>
                <option id="Apical" value="Shoulder:Apical">Apical</option>
                <option id="int" value="Shoulder:int">int</option>
                <option id="Scapula AP+Lat" value="Shoulder:Scapula AP+Lat">Scapula AP+Lat</option>
                <option id="Shoulder Axial view" value="Shoulder:Shoulder Axial view">Shoulder Axial view</option>
                <option id="Clavicle(AP)" value="Shoulder:Clavicle(AP)">Clavicle(AP)</option>
                <option id="R+L shoulder  AP" value="Shoulder:R+L shoulder  AP">R+L shoulder  AP</option>
                <option id="Left Clavile" value="Shoulder:Left Clavile">Left Clavile</option>
                <option id="Right Clavile" value="Shoulder:Right Clavile">Right Clavile</option>
            </optgroup>

            <optgroup id="skull" label="Skull">
                 <option id="Basal view" value="Skull:Basal view">Basal view</option>
                <option id="AP View" value="Skull:AP View">AP View</option>
                <option id="PA View" value="Skull:PA View">PA View</option>
                <option id="Towne view" value="Skull:Towne view">Towne view</option>
                <option id="Left T-M joint" value="Skull:Left T-M joint">Left T-M joint</option>
                <option id="Right TM joint" value="Skull:Right TM joint">Right TM joint</option>
                <option id="Orbit" value="Skull:Orbit">Orbit</option>
                <option id="Skull Lat" value="Skull:Skull Lat">Skull Lat</option>
                <option id="Waters view" value="Skull:Waters view">Waters view</option>
                <option id="Nasal bone" value="Skull:Nasal bone">Nasal bone</option>
                <option id="Stenvers view" value="Skull:Stenvers view">Stenvers view</option>
                <option id="Optical Canal" value="Skull:Optical Canal">Optical Canal</option>
                <option id="Sinuses" value="Skull:Sinuses">Sinuses</option>
                <option id="Sella Turcica" value="Skull:Sella Turcica">Sella Turcica</option>
                <option id="Mastiod bone" value="Skull:Mastiod bone">Mastiod bone</option>
                <option id="Mandible" value="Skull:Mandible">Mandible</option>
                <option id="Left Zygomatic arch" value="Skull:Left Zygomatic arch">Left Zygomatic arch</option>
                <option id="Right Zygomatic arch" value="Skull:Right Zygomatic arch">Right Zygomatic arch</option>
                <option id="Submental vertex view (SMV)" value="Skull:Submental vertex view (SMV)">Submental vertex view (SMV)</option>
                <option id="Left Lat oblique view" value="Skull:Left Lat oblique view">Left Lat oblique view</option>
                <option id="Right Lateral oblique view" value="Skull:Right Lateral oblique view">Right Lateral oblique view</option>
                <option id="Maxillae AP+LAT" value="Skull:Maxillae AP+LAT">Maxillae AP+LAT</option>
                <option id="Schulers view" value="Skull:Schulers view">Schulers view</option>
            </optgroup>

            <optgroup id="special" label="Special">
                 <option id="Intravenous urography (IVU)" value="Special:Intravenous urography (IVU)">Intravenous urography (IVU)</option>
                <option id="Urethrogram" value="Special:Urethrogram">Urethrogram</option>
                <option id="Cystogram" value="Special:Cystogram">Cystogram</option>
                <option id="Cystourethrogram" value="Special:Cystourethrogram">Cystourethrogram</option>
                <option id="Hysterosalpingography (HSG)" value="Special:Hysterosalpingography (HSG)">Hysterosalpingography (HSG)</option>
                <option id="Barium swallow" value="Special:Barium swallow">Barium swallow</option>
                <option id="Barium meal" value="Special:Barium meal">Barium meal</option>
                <option id="Barium follow-throuh" value="Special:Barium follow-throuh">Barium follow-throuh</option>
                <option id="Barium enema" value="Special:Barium enema">Barium enema</option>
                <option id="Loopogram (Cologramm)" value="Special:Loopogram (Cologramm)">Loopogram (Cologramm)</option>
                <option id="Angiogram lower limb" value="Special:Angiogram lower limb">Angiogram lower limb</option>
                <option id="Angiogram upper limb" value="Special:Angiogram upper limb">Angiogram upper limb</option>
                <option id="Venogram" value="Special:Venogram">Venogram</option>
            </optgroup>
        </select>
    </form>

    <div class="loader"></div>
</div>
</body>
</html>
