<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
</head>
<script type="text/javascript" language="javascript">
    //window.location.href= "./malaria/lab_orders.html";
    window.location= "/../apps/OPD/views/encounters/malaria/lab_orders.html";
</script>
</html>

<!-- do not delete this page, it acts as the following function
           history.pushState('','','')

           the third parameter is supposed to be the address -->