<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

    <script type="text/javascript" language="javascript">
        var patientID = sessionStorage.getItem("patientID");
        var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

        var lab_orders_hash = {
            "Blood": ["Full blood count", "Malaria (mRDT)", "Malaria (Microscopy)", "Group and Cross match",
                "Urea and electrolytes", "CD4(cluster of differentiation 4) count", "Viral load",
                "Cryptococcal Antigen", "Lactate", "Fasting blood sugar", "Random blood sugar",
                "Liver function test", "Hepatitis test", "sickling test", "ESR(erythrocyte sedimentation rate)",
                "Culture and sensitivity", "Widal test", "ELISA(enzyme-linked immunosorbent assay)",
                "ASO(Antistreptoysin-0) titre", "Rheumatoid factor", "Cholesterol", "Tryglicerides",
                "Calcium", "Creatinine", "VDRL(venereal disease research laboratory)", "Direct Coombs",
                "Indirect Coombs", "Blood Test NOS"],
            "CSF": ["Full CSF analysis", "Indian ink", "Protein and Sugar", "White cell count", "Culture and sensitivity"],
            "Urine": ["Urine microscopy", "Urinalysis", "Culture and sensitivity"],
            "Full aspirate analysis": ["Full aspirate analysis"],
            "Sputum": ["AAFB (1st)", "AAFB (2nd)", "AAFB (3rd)"],
            "Stool exam": ["Full stool analysis", "Culture and sensitivity"],
            "Swab sample": ["Microscopy", "Culture and sensitivity"]
        };

        function forceSingleMalariaOrderSelection() {
            var mrdtOption = document.getElementById("child1_1").parentNode.parentNode;
            var microcopy_option = document.getElementById("child1_2").parentNode.parentNode;
            mrdtOption.onmouseup = function () {
                microscopyValue = (microcopy_option.getElementsByTagName("div")[1].innerHTML) + ";";
                if (__$("touchscreenInput" + tstCurrentPage).value.length > 0) {
                    var newValue = __$("touchscreenInput" + tstCurrentPage).value.replace(microscopyValue, "");
                    var microcopy_option_img = microcopy_option.getElementsByTagName("div")[0].children[0]
                    __$("touchscreenInput" + tstCurrentPage).value = newValue;
                    microcopy_option.getElementsByTagName("div")[1].style.backgroundColor = "";

                    if (microcopy_option_img.getAttribute("src").match(/un/)) {
                        //microcopy_option_img.setAttribute("src", "/touchscreentoolkit/lib/images/ticked.jpg");
                    } else {
                        microcopy_option_img.setAttribute("src", "/touchscreentoolkit/lib/images/unticked.jpg");
                    }

                }
            }

            microcopy_option.onmouseup = function () {
                var mRDTValue = (mrdtOption.getElementsByTagName("div")[1].innerHTML) + ";";
                if (__$("touchscreenInput" + tstCurrentPage).value.length > 0) {
                    var newValue = __$("touchscreenInput" + tstCurrentPage).value.replace(mRDTValue, "");
                    mrdt_option_img = mrdtOption.getElementsByTagName("div")[0].children[0];
                    __$("touchscreenInput" + tstCurrentPage).value = newValue;
                    mrdtOption.getElementsByTagName("div")[1].style.backgroundColor = "";

                    if (mrdt_option_img.getAttribute("src").match(/un/)) {
                        //mrdt_option_img.setAttribute("src", "/touchscreentoolkit/lib/images/ticked.jpg");
                    } else {
                        mrdt_option_img.setAttribute("src", "/touchscreentoolkit/lib/images/unticked.jpg");
                    }

                }
            }
        }

        window.setInterval("forceSingleMalariaOrderSelection();", 350);

        function replaceImages() {
            var image_tags = document.getElementsByTagName("img");
            for (var i = 0; i <= image_tags.length - 1; i++) {
                var src = image_tags[i].getAttribute("src");
                if (!src.match(/public/i)) {
                    var new_img_src = "/public" + src;
                    image_tags[i].src = new_img_src;
                }
            }
        }

        window.setInterval("replaceImages()", 10)

        function calculate_checkdigit(number) {
            number = String(number).split("");
            parity = number.length % 2;
            sum = 0;
            for (var i = 0; i <= number.length - 1; i++) {
                index = i;
                digit = parseInt(number[i]);
                if ((index % 2) == parity) {
                    digit = digit * 2;
                }
                if (digit > 9) {
                    digit = digit - 9
                }
                sum = sum + digit
            }

            checkdigit = 0;
            while (((sum + (checkdigit)) % 10) != 0) {
                checkdigit = checkdigit + 1
            }
            return checkdigit
        }


        function submitLabOrders() {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_id: 57,
                patient_id: patientID,
                encounter_datetime: encounter_datetime
            }

            submitParameters(encounter, "/encounters", "postLabOrdersObs");
        }

        var concept_map = {
            "Blood": "8612",
            "CSF": "1594",
            "Urine": "1592",
            "Full aspirate analysis": "6863",
            "Sputum": "1004",
            "Stool exam": "304",
            "Swab sample": "6854"
        };

        function postLabOrdersObs(encounter) {
            var tests_ordered_concept_id = 1271;
            var obs = {
                encounter_id: encounter.encounter_id,
                observations: []
            };

            var selected_values = __$('touchscreenInput' + tstCurrentPage).value.split(";");
            for (var key in lab_orders_hash) {
                var orders = lab_orders_hash[key];
                for (var i = 0; i <= orders.length - 1; i++) {
                    var order = orders[i];
                    if (selected_values.includes(order)) {
                        obs.observations.push({
                            concept_id: tests_ordered_concept_id,
                            value_text: key,
                            child: {
                                concept_id: concept_map[key],
                                accession_number: new_accession_number(),
                                value_text: order
                            }

                        })
                    }
                }
            }

            submitParameters(obs, "/observations", "gotoPatientDashboard")
        }

        function changeNextButtonToSubmitLabOrders() {
            var nextButton = document.getElementById('nextButton');
            nextButton.onmousedown = function () {
                var value = __$('touchscreenInput' + tstCurrentPage).value;
                if (!value) {
                    showMessage("Select value to continue")
                    return
                }

                submitLabOrders();
            }
        }

        function gotoPatientDashboard() {
            window.location = tt_cancel_destination;
        }

        var tests_ordered_concept_id = 1271;
        var last_accession_number = "00";

        function new_accession_number(){
            var last_accn_number = last_accession_number;
            var last_accn_number_with_no_chk_dgt = parseInt(last_accn_number);
            var new_accn_number_with_no_chk_dgt = last_accn_number_with_no_chk_dgt + 1;
            var chk_dgt = calculate_checkdigit(new_accn_number_with_no_chk_dgt);
            var new_accn_number = new_accn_number_with_no_chk_dgt + "" + chk_dgt;
            last_accession_number = new_accn_number; // This is deliberate. Do not remove it
            return new_accn_number
        }


        function initializeVariables() {
            jQuery(".loader").show();
            jQuery('#keyboard').hide();
            jQuery("#buttons").hide();
            jQuery("#inputFrame" + tstCurrentPage).hide();

            /*
            * NOTES
            * This solution is bad. Simply because we can't query observations from back end where column IS NOT NULL
            * The problem was to get latest observation where accession_number is not null.
            * Fix this later
            * mangochiman on 2019-Apr-10 @14:54 hours
            * */
            var blood_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            blood_url += "/api/v1/observations";
            blood_url += "?concept_id=" + concept_map["Blood"] + "&page_size=1"; //malaria tests are saved under this concept

            var xhttp1 = new XMLHttpRequest();
            xhttp1.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var tests_ordered_observations = JSON.parse(this.responseText);
                    var latest_test_ordered = tests_ordered_observations[0];
                    if (latest_test_ordered) {
                        var accession_number = latest_test_ordered["accession_number"];
                        if (accession_number){
                            last_accession_number = accession_number
                        }
                    }
                    gotoNextPage();
                }
            };
            xhttp1.open("GET", blood_url, true);
            xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp1.setRequestHeader('Content-type', "application/json");
            xhttp1.send();
        }

        function resetPage() {
            jQuery('#keyboard').show();
            jQuery("#buttons").show();
            jQuery("#innerPop").show()
            jQuery("#inputFrame" + tstCurrentPage).show();
            jQuery(".loader").hide();
        }


    </script>

    <style type="text/css">
        .loader {
            position: absolute;
            display: none;
            top: 30%;
            left: 40%;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            z-index: 9999999999999;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body id="container">
<div id="content">

    <style type="text/css" media="screen">
        #space {
            display: inline;
            font-size: 1.2em;
        }

        form {
            display: block !important;
        }
    </style>

    <form id='lab_tests'>
        <input type="text" name="initialize"
               tt_onLoad="initializeVariables();"
               tt_onUnLoad="resetPage();"
               tt_pageStyleClass="NoControls"
               optional="true"/>

        <select id="multiple" class="multi" name="lab_orders[]" helptext="Select Lab orders" multiple="multiple"
                nested="true" tt_onLoad="changeNextButtonToSubmitLabOrders();">
            <option></option>

            <optgroup id="blood_test" label="Blood Tests">
                <option id="Full blood count" value="Blood:Full blood count">Full blood count</option>
                <option id="Malaria (mRDT)" value="Blood:Malaria (mRDT)">Malaria (mRDT)</option>
                <option id="Malaria (Microscopy)" value="Blood:Malaria (Microscopy)">Malaria (Microscopy)</option>
                <option id="Group and Cross match" value="Blood:Group and Cross match">Group and Cross match</option>
                <option id="Urea and electrolytes" value="Blood:Urea and electrolytes">Urea and electrolytes</option>
                <option id="CD4(cluster of differentiation 4) count"
                        value="Blood:CD4(cluster of differentiation 4) count">CD4(cluster of differentiation 4) count
                </option>
                <option id="Viral load" value="Blood:Viral load">Viral load</option>
                <option id="Cryptococcal Antigen" value="Blood:Cryptococcal Antigen">Cryptococcal Antigen</option>
                <option id="Lactate" value="Blood:Lactate">Lactate</option>
                <option id="Fasting blood sugar" value="Blood:Fasting blood sugar">Fasting blood sugar</option>
                <option id="Random blood sugar" value="Blood:Random blood sugar">Random blood sugar</option>
                <option id="Liver function test" value="Blood:Liver function test">Liver function test</option>
                <option id="Hepatitis test" value="Blood:Hepatitis test">Hepatitis test</option>
                <option id="sickling test" value="Blood:sickling test">sickling test</option>
                <option id="ESR(erythrocyte sedimentation rate)" value="Blood:ESR(erythrocyte sedimentation rate)">
                    ESR(erythrocyte sedimentation rate)
                </option>
                <option id="Culture and sensitivity" value="Blood:Culture and sensitivity">Culture and sensitivity
                </option>

                <option id="Widal test" value="Blood:Widal test">Widal test</option>
                <option id="ELISA(enzyme-linked immunosorbent assay)"
                        value="Blood:ELISA(enzyme-linked immunosorbent assay)">ELISA(enzyme-linked immunosorbent assay)
                </option>
                <option id="ASO(Antistreptoysin-0) titre" value="Blood:ASO(Antistreptoysin-0) titre">
                    ASO(Antistreptoysin-0) titre
                </option>
                <option id="Rheumatoid factor" value="Blood:Rheumatoid factor">Rheumatoid factor</option>
                <option id="Cholesterol" value="Blood:Cholesterol">Cholesterol</option>
                <option id="Tryglicerides" value="Blood:Tryglicerides">Tryglicerides</option>
                <option id="Calcium" value="Blood:Calcium">Calcium</option>
                <option id="Creatinine" value="Blood:Creatinine">Creatinine</option>
                <option id="VDRL(venereal disease research laboratory)"
                        value="Blood:VDRL(venereal disease research laboratory)">VDRL(venereal disease research
                    laboratory)
                </option>
                <option id="Direct Coombs" value="Blood:Direct Coombs">Direct Coombs</option>
                <option id="Indirect Coombs" value="Blood:Indirect Coombs">Indirect Coombs</option>
                <option id="Blood Test NOS" value="Blood:Blood Test NOS">Blood Test NOS</option>
            </optgroup>

            <optgroup id="csf_test" label="CSF">
                <option id="Full CSF analysis" value="CSF:Full CSF analysis">Full CSF analysis</option>
                <option id="Indian ink" value="CSF:Indian ink">Indian ink</option>
                <option id="Protein and Sugar" value="CSF:Protein and Sugar">Protein and Sugar</option>
                <option id="White cell count" value="CSF:White cell count">White cell count</option>
                <option id="Culture and sensitivity" value="CSF:Culture and sensitivity">Culture and sensitivity
                </option>
            </optgroup>

            <optgroup id="urine_test" label="Urine">
                <option id="Urine microscopy" value="Urine:Urine microscopy">Urine microscopy</option>
                <option id="Urinalysis" value="Urine:Urinalysis">Urinalysis</option>
                <option id="Culture and sensitivity" value="Urine:Culture and sensitivity">Culture and sensitivity
                </option>
            </optgroup>

            <optgroup id="aspirate_test" label="Aspirate">
                <option id="Full aspirate analysis" value="Full aspirate analysis:Full aspirate analysis">Full aspirate
                    analysis
                </option>
            </optgroup>

            <optgroup id="sputum" label="Sputum">
                <option id="AAFB (1st)" value="Sputum:AAFB (1st)">AAFB (1st)</option>
                <option id="AAFB (2nd)" value="Sputum:AAFB (2nd)">AAFB (2nd)</option>
                <option id="AAFB (3rd)" value="Sputum:AAFB (3rd)">AAFB (3rd)</option>
            </optgroup>

            <optgroup id="stool" label="Stool">
                <option id="Full stool analysis" value="Stool exam:Full stool analysis">Full stool analysis</option>
                <option id="Culture and sensitivity" value="Stool exam:Culture and sensitivity">Culture and
                    sensitivity
                </option>
            </optgroup>

            <optgroup id="fbc" label="Swab">
                <option id="Microscopy" value="Swab sample:Microscopy">Microscopy</option>
                <option id="Culture and sensitivity" value="Swab sample:Culture and sensitivity">Culture and
                    sensitivity
                </option>
            </optgroup>

        </select>
    </form>

    <div class="loader"></div>
</div>
</body>
</html>
