
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<script>
var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;

function setupNotes() {
  var nextButton = document.getElementById('nextButton');
  nextButton.setAttribute('onmousedown','createCN();');
  clearInput();
}

function createCN() {
  var text = document.getElementById('touchscreenInput' + tstCurrentPage);
  if(isEmpty(text.value)){
    showMessage('Please type in your notes');
    return;
  }
  
  var currentTime = moment().format(' HH:mm:ss');
  var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
  encounter_datetime += currentTime;
                        	
  var encounter = {
    encounter_type_name: 'NOTES',
    encounter_type_id:  105,
    patient_id: sessionStorage.patientID,
    encounter_datetime: encounter_datetime
  }

  submitParameters(encounter, "/encounters", "postNotesObs");
    
}

function postNotesObs(encounter) {
  var notes = document.getElementById('touchscreenInput' + tstCurrentPage);
   
  var obs = {
    encounter_id: encounter["encounter_id"],
    observations: [{concept_id: 2688, value_text: notes.value}]
  }; 

  submitParameters(obs, "/observations", "nextPage")  
}

function nextPage(obs){
  document.location = tt_cancel_destination;
}




function isEmpty(str){
  try {
    return (str.replace(/\s+/g, '').length < 1);
  }catch(e){
    return true;
  }
}

</script>

<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
        <textarea name="clinical_notes" id="clinical_notes" 
          field_type="alpha" allowFreeText="true" helpText="Clinical notes"
          tt_onLoad="setupNotes();">
        </textarea>
 
      </form>

   </div>
 </div>
</body>

