
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>
.tt_controls_hiv_status .keyboard, .tt_controls_hiv_test_month .keyboard {
  display: none !important;
}

#tt_page_hiv_status .inputFrameClass,
 #tt_page_patient_pregnant .inputFrameClass,
  #tt_page_type_of_visit .inputFrameClass,
    #tt_page_national_id_available .inputFrameClass,
     #tt_page_enter_national_id .inputFrameClass,
  #tt_page_hiv_test_year .inputFrameClass,
  #tt_page_hiv_test_month .inputFrameClass ,
  #tt_page_hiv_test_day .inputFrameClass,
  #tt_page_location_of_hiv_test .inputFrameClass,
  #tt_page_hiv_test_day_estimation .inputFrameClass,
  #tt_page_referred_from .inputFrameClass {
  width: 96%;
}

#tt_page_hiv_test_month .options {
  height: 80%;
}

.tt_controls_hiv_test_year #unknown {
  display: block !important;
}

.tt_controls_hiv_test_day #unknown {
  display: block !important;
}

#cover {
  display: inline;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 102%;
  left: 0%;
  top: 0%;
  z-index: 990;
  opacity: 0.65;
}

</style>

<script>
var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;

function setupNotes() {
  var nextButton = document.getElementById('nextButton');
  nextButton.setAttribute('onmousedown','createCN();');
  clearInput();
}

function createCN() {
  var text = document.getElementById('touchscreenInput' + tstCurrentPage);
  if(isEmpty(text.value)){
    showMessage('Please type in your notes');
    return;
  }
  
  var currentTime = moment().format(' HH:mm:ss');
  var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
  encounter_datetime += currentTime;
                        	
  var encounter = {
    encounter_type_name: 'NOTES',
    encounter_type_id:  105,
    patient_id: sessionStorage.patientID,
    encounter_datetime: encounter_datetime
  }

  submitParameters(encounter, "/encounters", "postNotesObs");
    
}

function postNotesObs(encounter) {
  var notes = document.getElementById('touchscreenInput' + tstCurrentPage);
   
  var obs = {
    encounter_id: encounter["encounter_id"],
    observations: [{concept_id: 2688, value_text: notes.value}]
  }; 

  submitParameters(obs, "/observations", "nextPage")  
}

function nextPage(obs){
  document.location = tt_cancel_destination;
}

function isEmpty(str){
  try {
    return (str.replace(/\s+/g, '').length < 1);
  }catch(e){
    return true;
  }
}

function showPregnantQuestion() {
  if(sessionStorage.patientGender == 'M')
    return false;

  var age = parseInt(sessionStorage.patientAge);   
  if(age >= 9 && age <= 55)
    return true;

  return false;  
}

function setAbsoluteMaxYear() {
  var element = document.getElementById('touchscreenInput' + tstCurrentPage);
  element.setAttribute("absoluteMax", (new Date().getFullYear()));
  element.setAttribute("min", (new Date().getFullYear() - 100));
  element.setAttribute("absoluteMin", (new Date().getFullYear() - 120));
}
            
function validateMonth() {
  var nextBtn = __$("nextButton");
  nextBtn.setAttribute('onmousedown', "validateYearMonth();");
  nextBtn.setAttribute('onclick', "");
}

function validateYearMonth() {
  setYear = parseInt(document.getElementById('test_year').value);
  if (setYear == (new Date().getFullYear())) {
      var element = document.getElementById('touchscreenInput' + tstCurrentPage);
      var selectedMonth = parseInt(element.getAttribute('tstValue'));
      var currMonth = parseInt(new Date().getMonth() + 1);
      if (selectedMonth > currMonth) {
          showMessage("Selected month is greater than current month");
          return;
      }
  }

  gotoNextPage();
}

function setUpPageForDateValidation() {
  var nextBtn = document.getElementById("nextButton");
  nextBtn.setAttribute('onmousedown', "validateTestDate();");
}

function validateTestDate() {
  setTestDate();
  var valid_date = validateEnteredDate(set_test_date);

  if (!valid_date) {
      showMessage("Invalid Date");
      return;
  }

  var currDate = new Date();
  var setDate;
  
  if (setDate == 'Invalid date') {
    if(set_test_date.match(/unknown/i)){
      gotoNextPage();
      return;
    }
  }

  try {
   var y = moment(set_test_date).format('YYYY');
   var m = moment(set_test_date).format('MM');
   var d = moment(set_test_date).format('DD');
   setDate = new Date(parseInt(y), (parseInt(m) - 1), parseInt(d)); 
  }catch(e){
  }

  if (setDate > currDate) {
      showMessage("Test date more than the current date");
      return;
  }else{
    gotoNextPage();
  }
}

var set_test_date

function setTestDate() {
  try {
      dob_year = document.getElementById('test_year').value; 
  } catch (e) {
      dob_year = dob_year
  }
  try {
      dob_month = document.getElementById('test_month').value; 
      if (dob_month.length == 1)
          dob_month = 0 + dob_month
  } catch (e) {
      dob_month = dob_month
  }
  try {
      dob_day = $('touchscreenInput' + tstCurrentPage).value;
      
      if (dob_day.length == 1)
          dob_day = 0 + dob_day
  
  } catch (e) {
      dob_day = dob_day
  }

  set_test_date = (dob_year + '-' + dob_month + '-' + dob_day);
}

function validateEnteredDate(inputText) {
  // Match the date format through regular expression
  if (inputText.match(/-/i)) {

    //Test which seperator is used '/' or '-'
    var pdate = inputText.split('-');

    var dd = parseInt(pdate[2]);
    var mm = parseInt(pdate[1]);
    var yy = parseInt(pdate[0]);

    if (dd == 0) {
        return false;
    }

    // Create list of days of a month [assume there is no leap year by default]
    var ListofDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
    if (mm == 1 || mm > 2) {
      if (dd > ListofDays[mm - 1]) {
        return false;
      }
    }

    if (mm == 2) {
      var lyear = false;
      if ((!(yy % 4) && yy % 100) || !(yy % 400)) {
        lyear = true;
      }

      if ((lyear == false) && (dd >= 29)) {
        return false;
      }

      if ((lyear == true) && (dd > 29)) {
        return false;
      }
    }
  } else {
    return false;
  }

  return true;
}

function setupHIVtestLocation() {
 var nextButton = document.getElementById('nextButton');
 nextButton.setAttribute('onmousedown','submitHIVstatus();'); 
}

var hiv_test_date_estimated = true;
var set_hiv_date;

function submitHIVstatus() {
  try {
    set_hiv_date = set_test_date.split('-');
  }catch(e) {
  }

  var test_year   = document.getElementById('test_year').value;
  var test_month  = document.getElementById('test_month').value;
  var test_day    = document.getElementById('test_day').value;

  if(test_year.match(/unknown/i)){
    set_hiv_date = getEstimatedHIVtestDate();
  }else if(test_month.match(/unknown/i)){
    if(parseInt(test_year) == parseInt(moment().format('YYYY'))){
      set_hiv_date = new Date(parseInt(test_year), 0, 1);
    }else{
      set_hiv_date = new Date(parseInt(test_year), 6, 1);
    }
  }else if(test_day.match(/unknown/i)){
    var temp_date = moment(test_year + "-" + test_month + "-01").format('YYYY-MM-DD');
    temp_date = temp_date.split('-');
    set_hiv_date = new Date(parseInt(temp_date[0]), (parseInt(temp_date[1]) - 1), 15);
  }else{
    set_hiv_date = new Date(parseInt(set_hiv_date[0]), (parseInt(set_hiv_date[1]) - 1), parseInt(set_hiv_date[2]));
    hiv_test_date_estimated = false;
  }

  var test_location = $('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');
  if(isEmpty(test_location)) {
    showMessage('Please select HIV test location');
  }else{
    var currentTime = moment().format(' HH:mm:ss');
    var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
    encounter_datetime += currentTime;
                            
    var encounter = {
      encounter_type_name: 'PATIENT REGISTRATION',
      encounter_type_id:  104,
      patient_id: sessionStorage.patientID,
      encounter_datetime: encounter_datetime
    }

    submitParameters(encounter, "/encounters", "createEncounterNeverTested");
  }
}

function getEstimatedHIVtestDate() {
  var startDate;
  var ARTstartDateEstimate = document.getElementById('hiv_test_day_estimation').value;
  var todays_date = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
  
  todays_date = new Date(todays_date.split('-')[0], parseInt(todays_date.split('-')[1] - 1),todays_date.split('-')[2]);
  
  if (ARTstartDateEstimate == "6 months") {
      startDate = new Date(sessionStorage.sessionDate);
      startDate.setDate(todays_date.getDate() - (28 * 6) );
  } else if (ARTstartDateEstimate == "12 months") {
      startDate = new Date(sessionStorage.sessionDate)
      startDate.setDate(todays_date.getDate() - (28 * 12) );
  } else if (ARTstartDateEstimate == "18 months") {
      startDate = new Date(sessionStorage.sessionDate)
      startDate.setDate(todays_date.getDate() - (28 * 18) );
  } else if (ARTstartDateEstimate == "24 months") {
      startDate = new Date(sessionStorage.sessionDate)
      startDate.setDate(todays_date.getDate() - (28 * 24) );
  } else if (ARTstartDateEstimate == "Over 2 years") {
      startDate = new Date(sessionStorage.sessionDate)
      startDate.setDate(todays_date.getDate() - (28 * 30));
  } 

  return startDate;
}

function setupHIVstatus() {
  var element = document.getElementById('inputFrame' + tstCurrentPage);
  var list = element.getElementsByTagName('li');
  for(var i = 0 ; i < list.length ; i++){
    list[i].setAttribute('onmousedown','checkForChanges(this);');
  }
}

function checkForChanges(e) {
  var nextButton = document.getElementById('nextButton');
  
  if(e.innerHTML.match(/Never tested/i)){
    nextButton.innerHTML = '<span>Finish</span>';
    nextButton.setAttribute('onmousedown','submitNeverTest();');
  }else{
    nextButton.innerHTML = '<span>Next</span>';
    nextButton.setAttribute('onmousedown','gotoNextPage();');
  }

}

function submitNeverTest() {
  var hiv_status  = document.getElementById('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');
  
  if(isEmpty(hiv_status)){
    showMessage('Please select HIV status');
    return;
  }

  var currentTime = moment().format(' HH:mm:ss');
  var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
  encounter_datetime += currentTime;
                        	
  var encounter = {
    encounter_type_name: 'PATIENT REGISTRATION',
    encounter_type_id:  104,
    patient_id: sessionStorage.patientID,
    encounter_datetime: encounter_datetime
  }

  submitParameters(encounter, "/encounters", "createEncounterNeverTested");

}

function createEncounterNeverTested(encounter) { 
  var observations = [];
  
  /* ........................ HIV status starts ................*/
  if(hiv_status == 'Never tested') {
    var hiv_status  = document.getElementById('touchscreenInput' + tstCurrentPage).value;
  }else{
    var hiv_status  = document.getElementById('hiv_status').value;
  }
  observations.push({concept_id: 3753, value_text: hiv_status});
  /* ........................ HIV status ends ................*/
  
  
  /* ........................ type of visits ................*/
  var type_of_visit = document.getElementById('visit_type').value;
  var types = {}
  types['New'] = 7572;
  types['Referral'] = 9675;
  types['Re-visiting'] = 9674;

  observations.push({concept_id: 6189, value_coded: types[type_of_visit]});
  /* ........................ type of visits ends ................*/


  /* ........................ Patient pregnant starts ................*/
  if(showPregnantQuestion() == true){
    var patient_pregnant  = document.getElementById('patient_pregnant').value;
    var pregnant_ans = {};
    pregnant_ans['Yes'] = 1065;
    pregnant_ans['No'] = 1066;
    pregnant_ans['Unknown'] = 1067;
    
    observations.push({concept_id: 1755, value_coded: pregnant_ans[patient_pregnant]});
  }
  /* ........................ Patient pregnant ends ................ */

  if(type_of_visit == 'Referral') {
    var reffering_facility = document.getElementById('referring_facility_name');
    observations.push({concept_id: 7414, 
    value_coded: reffering_facility.getAttribute('tstvalue'), 
      value_text: reffering_facility.value});
  }
 
  if(hiv_status != 'Never tested') {
    var test_date = moment(set_hiv_date).format('YYYY-MM-DD');
    var estimated = hiv_test_date_estimated == true ? 'Date estimated' : 'Date NOT estimated';
    var test_location = $('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');

    observations.push({concept_id: 1837, comments: estimated, value_datetime: test_date});
    observations.push({concept_id: 7878, value_coded: test_location});
  }
  
  var obs = {
    encounter_id: encounter["encounter_id"],
    observations: observations
  }; 

  submitParameters(obs, "/observations", "createNationalID");
}


function createNationalID(obs) {
  var national_id_available = document.getElementById('national_id_available').value;
  var national_id = document.getElementById('national_id').value;
  
  var nid_available = {};
  nid_available['No'] = 1065;
  nid_available['Yes'] = 1066;
  nid_available['Unknown'] = 1067;
  if(national_id_available == 'Yes') {
    createNID(national_id);
  }else{
    nextPage("");
  }
  
}

function createNID(nid){
  var identifier_type = 28;

  var patient_identifier = {
    identifier: nid,
    identifier_type: identifier_type,
    patient_id: sessionStorage.patientID
  }
  
  var pathURL = "/patient_identifiers/";
  submitParameters(patient_identifier, pathURL, "nextPage");
}

var npid_available;

function fetchNID() {
  var url = apiProtocol+'://'+apiURL+':'+apiPort+'/api/v1/';
  url += "patient_identifiers?patient_id=" + sessionStorage.patientID;
  url += "&identifier_type=28";

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var obj = JSON.parse(this.responseText);
      npid_available = (obj.length < 1 ? false : true);
      document.getElementById('cover').style = 'display: none;';
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

var opd_hiv_status;
function getHIVOPDstatus() {
  
  var url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1";
  url += "/observations?person_id=" + sessionStorage.patientID;
  url += "&concept_id=3753&page_size=1&date=";
  url += moment().format("YYYY-MM-DD");
  
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
      var obj = JSON.parse(this.responseText);
      fetchNID();
      if(obj.length > 0) 
        opd_hiv_status = obj[0].value_text;
    
    }
  };
  xhttp.open("GET", url, true);
  xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
  xhttp.setRequestHeader('Content-type', "application/json");
  xhttp.send();
}

getHIVOPDstatus();

function ARTpatient() {
  if(opd_hiv_status == undefined)
    return false;
  
  return (opd_hiv_status.match(/on ART/i) ? true : false);
}

function patientPositiveButNotART() {
  if(opd_hiv_status == undefined)
    return false;
  
  return (opd_hiv_status.match(/not ART/i) ? true : false);
}

function endEncounter(id) {
  var nextButton = document.getElementById('nextButton');

  if(id == 'patient_pregnant' && ARTpatient()) {
    nextButton.innerHTML = '<span>Finish</span>';
    nextButton.setAttribute("onmousedown","patientOnART('patient_pregnant');");
  }else if(id == 'national_id' && ARTpatient() && showPregnantQuestion() == false) {
    nextButton.innerHTML = '<span>Finish</span>';
    nextButton.setAttribute("onmousedown","patientOnART('national_id');");
  }else if(id == 'national_id_available' && ARTpatient() && showPregnantQuestion() == false) {
    nextButton.innerHTML = '<span>Finish</span>';
    nextButton.setAttribute("onmousedown","patientOnART('national_id_available');");
  }
}

function patientOnART(id) {
  var pregnant;
  var national_id;
  var visit_type;

  if(id == 'patient_pregnant' && ARTpatient()) {
    pregnant = document.getElementById('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');
  }

  if(npid_available == false) {
    var national_id_available = document.getElementById('national_id_available');
    if(national_id_available == null){
      national_id_available = document.getElementById('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');
    }else{
      national_id_available = national_id_available.value;
    }
    
    if(national_id_available == 'Yes'){
      var nid = document.getElementById('national_id');
      if(nid == null){
        national_id = document.getElementById('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');
      }else{
        national_id = nid.value;
      }
    }
  }

  var observations = []
  
  if(pregnant != undefined || pregnant == null) {
    var pregnant_ans = {};
    pregnant_ans['Yes'] = 1065;
    pregnant_ans['No'] = 1066;
    pregnant_ans['Unknown'] = 1067;
    
    if(isEmpty(pregnant)) {
      showMessage('Please select pregnant status');
      return;
    }else{
      observations.push({concept_id: 1755, value_coded: pregnant_ans[pregnant]});
    }
  }

  var type_of_visit = document.getElementById('visit_type');
  if(type_of_visit == null) {
    type_of_visit = document.getElementById('touchscreenInput' + tstCurrentPage).getAttribute('tstvalue');
  }else{
    type_of_visit = type_of_visit.value;
  }

  var types = {}
  types['New'] = 7572;
  types['Referral'] = 9675;
  types['Re-visiting'] = 9674;
  
  if(types[type_of_visit] == undefined){
    showMessage('Please select visit type');
    return;
  }else{
    observations.push({concept_id: 6189, value_coded: types[type_of_visit]});
  }

  if(type_of_visit == 'Referral') {
    var reffering_facility = document.getElementById('referring_facility_name');
    if(reffering_facility == null) {
      reffering_facility = document.getElementById('touchscreenInput' + tstCurrentPage);
    }
   
    if(isEmpty(reffering_facility.value) == false) { 
      observations.push({concept_id: 7414, 
      value_coded: reffering_facility.getAttribute('tstvalue'), 
      value_text: reffering_facility.value});
    }
  }

  if(observations.length < 1) {
    showMessage('Information is not complete');
    return;
  }

  gloabl_obs = observations;
  if(national_id != undefined && isEmpty(national_id) == false)
    global_nid = national_id;

  var currentTime = moment().format(' HH:mm:ss');
  var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
  encounter_datetime += currentTime;
                        	
  var encounter = {
    encounter_type_name: 'NOTES',
    encounter_type_id:  105,
    patient_id: sessionStorage.patientID,
    encounter_datetime: encounter_datetime
  }

  submitParameters(encounter, "/encounters", "createObs");
}

function createObs(encounter) {
  var obs = {
    encounter_id: encounter["encounter_id"],
    observations: gloabl_obs
  }; 

  if(global_nid == undefined) {
    submitParameters(obs, "/observations", "nextPage");
  }else{
    submitParameters(obs, "/observations", "setNID");
  }
}

function setNID(obs) {
  createNID(global_nid);
}

var gloabl_obs;
var global_nid;

</script>

<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
        <select allowFreeText="false" helpText="Type of visit"
           name="outcome" id="visit_type" key="outcome">
            <option value=""></option>
            <option value="New">New</option>
            <option value="Referral">Referral</option>
            <option value="Re-visiting">Re-visiting</option>
        </select>

        <select objectType="location" ajaxURL="/locations?name="
          allowFreeText="true"
          condition="$('visit_type').value.toLowerCase() == 'referral';"
          field_type="alpha"
          helpText="Referred from"
          id="referring_facility_name"
          name="referring_facility_name">
        </select>
        
        <select allowFreeText="false" helpText="National ID available"
           name="outcome" id="national_id_available" key="outcome"
          condition='npid_available == false;' tt_onLoad="endEncounter('national_id_available');"> 
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Unknown">Unknown</option>
        </select>

        <input type="text" name="national_id" id="national_id" textCase="upper"
          condition='npid_available == false && $("national_id_available").value == "Yes";' 
          helpText="Enter National ID" tt_onLoad="endEncounter('national_id');"/>
 
        <select allowFreeText="false" helpText="Patient pregnant"
           name="outcome" id="patient_pregnant" key="outcome"
           condition='showPregnantQuestion() == true;'
           tt_onLoad="endEncounter('patient_pregnant');">
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Unknown">Unknown</option>
        </select>

        <select allowFreeText="false" helpText="HIV status"
           name="outcome" id="hiv_status" key="outcome"
           tt_onLoad="setupHIVstatus();"
           condition="ARTpatient() == false;">
            <option value=""></option>
            <option value="Positive not ART">Positive not ART</option>
            <option value="Positive on ART">Positive on ART</option>
            <option value="Previous negative">Previous negative</option>
            <option value="New positive">New positive</option>
            <option value="New negative">New negative</option>
            <option value="Never tested">Never tested</option>
        </select>

       <!-- ................. test date ...................... --> 
        <input type="text" name="test_year" id="test_year" helpText="HIV test year"
           field_type="number"
           condition="$('hiv_status').value.toLowerCase() != 'never tested' && ARTpatient() == false;"
           absoluteMin="1900" min="1900" tt_onLoad="setAbsoluteMaxYear()"
           tt_pageStyleClass="Numeric NumbersOnly"/>

        <select allowFreeText="false" helpText="HIV test day (estimation)"
           name="outcome" id="hiv_test_day_estimation" key="outcome"
          condition="$('test_year').value.toLowerCase() == 'unknown' && $('hiv_status').value.toLowerCase() != 'never tested' && ARTpatient() == false;">
            <option value=""></option>
            <option value="6 months">6 months</option>
            <option value="12 months">12 months</option>
            <option value="18 months">18 months</option>
            <option value="24 months">24 months</option>
            <option value="Over 2 years">Over 2 years</option>
        </select>


        <select name="test_month" id="test_month" helpText="HIV test month"
                condition="$('test_year').value.toLowerCase() != 'unknown' && $('hiv_status').value.toLowerCase() != 'never tested' && ARTpatient() == false"
                validationMessage="Please enter a valid date" 
                tt_onLoad=" validateMonth();__$(keyboard).style.display = none;">
            <option value=""></option>
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
            <option value="Unknown">Unknown</option>
        </select>
            
        <input type="text" name="test_day"
           id="test_day"
           field_type="number" helpText="HIV test day"
           condition="($('test_year').value != 'Unknown') && ($('test_month').value != 'Unknown') && $('hiv_status').value.toLowerCase() != 'never tested' && ARTpatient() == false;"
           tt_onLoad="getDayOfMonthPicker($('test_year').value, $('test_month').value);setUpPageForDateValidation();"/>


        <select objectType="location" ajaxURL="/locations?name="
          allowFreeText="true"
          condition="$('hiv_status').value.toLowerCase() != 'never tested' && ARTpatient() == false;"
          field_type="alpha"
          helpText="Location of HIV test"
          id="facility_name"
          tt_onLoad="setupHIVtestLocation();"
          name="facility_name">
        </select>
        

       <!-- ................. test date ends ...................... --> 
      
      </form>

   </div>
 </div>

<div id="cover"></div>

</body>

