
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">


<link rel="stylesheet" href="/apps/OPD/assets/css/diagnosis.page.css" type="text/css">
<script type="text/javascript" src="/apps/OPD/assets/js/diagnosis.page.js"></script>

<script>
var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;

function changeNextButton() {
  var nextButton = document.getElementById('nextButton');
  nextButton.setAttribute('onmousedown','');
}

</script>

<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';changeNextButton();buildOPDdiagnosisPage();"
          tt_pageStyleClass= "NoControls" helpText="Diagnosis" optional = "true"/>

      </form>

   </div>
 </div>
</body>

