
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/apps/OPD/assets/js/yes_no.js"></script>


<script>
var tt_cancel_destination = "/";
function changeNextButton() {
  var n = document.getElementById('nextButton');
  n.setAttribute('onmousedown','submitRP("/customise_OPD_prescription_interface");');
}

</script>


<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';changeNextButton();addYesNo();"
          tt_pageStyleClass= "NoControls" helpText="Customise Prescription Page" optional = "true"/>

      </form>

   </div>
 </div>
</body>

