<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/dashboard.js"></script>

<link rel="stylesheet" href="/assets/css/vitals-keypad.css" type="text/css">
<script type="text/javascript" src="/assets/js/vitals-keypad.js"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/bmi.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/demographics.js"></script>
<script type="text/javascript" src="/apps/ANC/assets/js/common.js"></script>
<script type="text/javascript" src="/apps/ANC/assets/js/vitals.js"></script>
<link rel="stylesheet" href="/assets/css/provider.css" type="text/css">
<script type="text/javascript" src="/assets/js/provider.js  "></script>

<style>

    .main-table-div {
        display: table;
        width: 100%;
    }

    .main-table-div-row {
        display: table-row;
    }

    .main-table-div-cell {
        display: table-cell;
    }

    .cell-summary {
        width: 45%;
        background-color: lightyellow;
    }

    .cell-left {
        width: 155px;
    }

    .cell-right {
        border-style: solid !important;
        border-width: 0px 1px 0px 1px;
        width: 340px;
        vertical-align: top;
    }

    .table-main {
        display: table;
        width: 100%;
        overflow: auto;
    }

    .table-main-row {
        display: table-row;
        border-collapse: separate;
    }

    .table-main-cell {
        /*  display: table-cell;
          border-style: solid;
          border-width: 1px;
          text-align: center;

          padding: 10px;
          box-shadow: 5px 10px;

          height: 20px;
          width: 30px; */
    }

    .separator {
        border-style: none;
        padding-bottom: 300px;
    }

    .app-btn {
        padding-bottom: 5px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 5px;
        border: 1px solid #5480a8;
        cursor: pointer;
        background-color: white;
        border-radius: 7px;
        border: solid black 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-box-shadow: inset 0 0 1px #000000;
        -webkit-box-shadow: inset 0 0 1px #000000;
        box-shadow: inset 0 0 10px #000000;
        text-decoration: none;

        width: 110px;
        height: 80px;
    }

    .btn-icons {
        height: 40px;
        width: 40px;
    }

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    .button-diabled {
        color: currentColor;
        cursor: not-allowed;
        text-decoration: none;
        background-color: #5480a8;
        color: white;
        font-weight: bold;
    }

    #dy-summary-table {
        width: 90%;
        font-size: 1.5em;
        border-collapse: collapse;
        margin: 0px 0px 0px 20px;
    }

    #dy-summary-table td {
        text-align: right;
        padding-right: 10px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 5; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 12% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .height-text {
        font-size: 60px;
        text-align: center;
        margin-top: 0px;
    }

    .heightDivs {
        width: 48%;
        height: 200px;
        display: inline;
        float: left;
        background-color: white;
        margin-left: 1%;
        border: solid black 1px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 3%;
    }

    .height-headers {
        font-size: 20px;
        text-align: center;
    }

    .loader {
        position: absolute;
        display: none;
        top: 30%;
        left: 40%;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        z-index: 9999999999999;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>
<script type="text/javascript">
    var patientID = sessionStorage.getItem("patientID");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

    const HIV_PROGRAM_ID = 1

    if (sessionStorage.patientAge === "null") {
        getDemographics(patientID);
    }

    function getHeight(patient_id) {
        sessionStorage.removeItem("currentHeight");
        var url = apiProtocol + "://" + apiURL + ":" + apiPort;
        url += "/api/v1/observations?person_id=" + patient_id + "&concept_id=5090";
        url += "&date=" + moment(new Date(sessionStorage.sessionDate)).format('YYYY-MM-DD');
        url += "&page_size=1";

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var obj = JSON.parse(this.responseText);
                if (obj.length > 0) {
                    sessionStorage.currentHeightObsID = obj[0].obs_id;
                    var height = parseInt(obj[0].value_numeric);
                    if (height > 0) {
                        sessionStorage.currentHeight = height;
                        return height;
                    } else if (obj[0].value_text.length > 0) {
                        sessionStorage.currentHeight = parseInt(obj[0].value_text);
                        return parseInt(obj[0].value_text);
                    } else {
                        sessionStorage.currentHeight = 0;
                        return 0;
                    }
                } else {
                    sessionStorage.currentHeight = 0;
                    currentHeight = 0;
                }
            }
        };
        xhttp.open("GET", url, true);
        xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp.setRequestHeader('Content-type', "application/json");
        xhttp.send();
    }

    getHeight(patientID);
</script>


<script>

    var show_bp_only = false;
    try {
      var url = window.location.href;
      url = new URL(url);
      var bp_only = url.searchParams.get("bp_only");
      show_bp_only = (bp_only == 'true' ? true : false);
    }catch(z) {
      show_bp_only = false;
    }

    var vitalsEntered = {};


    if (sessionStorage.programID == 12) {

            var vitalsAssigned = [
            ["Weight", "weight.png", "(KG)"],
            ["Height", "height.png", "(CM)"],
            ["BP", "bp.png", "(mmHG)"]
        ];
    } else{

        var vitalsAssigned = [
            ["Weight", "weight.png", "(KG)"],
            ["Height", "height.png", "(CM)"],
            ["BP", "bp.png", "(mmHG)"],        
            ["Temp", "temp.png", "(C)"],
            ["SPO2", "spo2.png", "(%)"],
            ["Pulse", "pulse-rate.png", "(BPM)"]
        ];
    }

    if(show_bp_only)
      vitalsAssigned = [["BP", "bp.png", "(mmHG)"]];

    if (sessionStorage.patientAge > 18 && sessionStorage.currentHeight != 0 && sessionStorage.currentHeight != "null") {
        // vitalsAssigned.splice(1, 1);
    }

    function removeFromHash() {
        var allButtons = document.getElementsByClassName('app-btn');
        var currentVital = null;

        for (var i = 0; i < allButtons.length; i++) {
            if (allButtons[i].getAttribute('class').trim() == "app-btn") {
                vitalsEntered[allButtons[i].id] = null;
                break;
            }
        }


    }

    function setEnterVital() {
        var allButtons = document.getElementsByClassName('app-btn');
        var currentVital = null;

        for (var i = 0; i < allButtons.length; i++) {
            if (allButtons[i].getAttribute('class').trim() == "app-btn") {

                var vital = document.getElementById('vitals-input').value.trim();
                if (vital) {
                    vitalsEntered[allButtons[i].id] = vital;
                    break;
                }

                if (vitalsEntered[allButtons[i].id]) {
                    //document.getElementById('vitals-input').value = vitalsEntered[allButtons[i].id];
                    //break;
                }

            }
        }

    }


    function buildVitalsPage() {
        var inputFrame = document.getElementById("inputFrame" + tstCurrentPage);
        inputFrame.style = "width: 96%;";

        var mainContainer = document.createElement('div');
        mainContainer.setAttribute("class", "main-table-div");

        var mainContainerRow = document.createElement('div');
        mainContainerRow.setAttribute("class", "main-table-div-row");
        mainContainer.appendChild(mainContainerRow);

        var cells = ['left', 'right', 'summary'];
        for (var i = 0; i < cells.length; i++) {
            var mainContainerCell = document.createElement('div');
            mainContainerCell.setAttribute("class", "main-table-div-cell cell-" + cells[i]);

            if (cells[i] == 'left') {
                buildVitalsButtons(mainContainerCell);
            }

            mainContainerRow.appendChild(mainContainerCell);
        }

        inputFrame.appendChild(mainContainer);
    }

    function buildVitalsButtons(element) {
        var buttons = vitalsAssigned;

        var btnCont = document.createElement('div')
        btnCont.setAttribute('class', "table-main");
        for (var i = 0; i < buttons.length; i++) {
            if (vitalsAssigned[i][0] === "Height" && sessionStorage.patientAge > 18 && sessionStorage.currentHeight != 0 && sessionStorage.currentHeight != "null") {
                // table.innerHTML += "<tr><th>Height<td id='previous-Height'></td><td>"+sessionStorage.currentHeight+" (CM)</td></th></tr>";
            } else {
                var btnContRow = document.createElement('div')
                btnContRow.setAttribute('class', "table-main-row");
                btnCont.appendChild(btnContRow);
                var cell = document.createElement('div');
                cell.setAttribute('class', "table-main-cell separator");
                cell.innerHTML = '&nbsp;'


                var btnContRow = document.createElement('div')
                btnContRow.setAttribute('class', "table-main-row");
                var cell = document.createElement('div');
                btnContRow.appendChild(cell);
                cell.setAttribute('class', "table-main-cell");
                buildBTN(cell, buttons[i], i);
                btnCont.appendChild(btnContRow);
            }

        }

        element.appendChild(btnCont);
    }

    function buildBTN(element, name, i) {
        var a = document.createElement('a');
        if (i == 0) {
            a.setAttribute("class", "app-btn");
        } else {
            a.setAttribute("class", "app-btn button-diabled");
        }

        a.setAttribute("href", "#");

        var img = document.createElement('img');
        img.setAttribute("src", "/assets/images/vitals/" + name[1])
        img.setAttribute("class", "btn-icons");

        var span = document.createElement('span');
        span.appendChild(img);


        a.innerHTML = span.innerHTML;
        a.innerHTML += "<br />" + name[0];
        a.setAttribute("onmousedown", "setVital(this)");
        a.setAttribute("id", "vitals-" + name[0]);
        element.appendChild(a);

        if (!vitalsEntered["vitals-" + name[0]])
            vitalsEntered["vitals-" + name[0]] = null;

    }

    function setVital(e) {
        var validInput = validateUserInput();

        if (!validInput)
            return;

        setEnterVital();

        var allButtons = document.getElementsByClassName("app-btn");
        for (var i = 0; i < allButtons.length; i++) {
            allButtons[i].setAttribute("class", "app-btn button-diabled");
        }

        e.setAttribute("class", "app-btn");
        document.getElementById("vitals-input").value = vitalsEntered[e.id];
    }

    function validateUserInput() {
        var allButtons = document.getElementsByClassName("app-btn");
        var activeInput = null;

        for (var i = 0; i < allButtons.length; i++) {
            if (allButtons[i].getAttribute("class").trim() == "app-btn") {
                activeInput = allButtons[i];
                break;
            }
        }

        var data = document.getElementById("vitals-input").value;
        var validation_result = false;

        if (activeInput.id.match(/weight/i)) {
            validation_result = validateWeight(data);
        } else if (activeInput.id.match(/height/i)) {
            validation_result = validateHeight(data);
        } else if (activeInput.id.match(/bp/i)) {
            validation_result = validateBP(data);
        } else if (activeInput.id.match(/Temp/i)) {
            validation_result = validateTemp(data);
        } else if (activeInput.id.match(/SPO2/i)) {
            validation_result = validateSPO2(data);
        } else if (activeInput.id.match(/Pulse/i)) {
            validation_result = validatePulse(data);
        } else {
            validation_result = true;
        }


        return validation_result;
    }

    function validatePulse(pulse) {
        if (pulse.trim().length < 1)
            return true;

        if (!isNumeric(pulse)) {
            showMessage("Not a valid Pulse Rate.<br />Please enter a valid reading.");
            return false;
        }

        if (pulse < 50 || pulse > 120) {
            showMessage("Pulse reading is out of bounds");
            return false;
        }

        return true;
    }

    function validateSPO2(spo2) {
        if (spo2.trim().length < 1)
            return true;

        if (!isNumeric(spo2)) {
            showMessage("Not a valid Blood oxygen saturation.<br />Please enter a valid reading.");
            return false;
        }

        if (spo2 < 40 || spo2 > 100) {
            showMessage("Oxygen saturation reading is out of bounds");
            return false;
        }
        return true;
    }

    function showValidate(message) {
        if (message == null) {
            message = "is this a valid input"
        }


        messageBar.innerHTML = "";
        messageBar.innerHTML += "<p>" + ((message.match(/^Value\s/)) ? (message.replace(/^Value\s/, "The value is ")) : message) +
            ". Are you sure about this value?</p><div style='display: block;'>" +
            "<button class='button' style='float: none;' onclick='this.offsetParent.style.display=\"none\"; goToSpo();' onmousedown='this.offsetParent.style.display=\"none\";goToSpo();'" +
            "><span>Yes</span></button><button class='button' " +
            "style='float: none; right: 3px;' onmousedown='this.offsetParent.style.display=\"none\"; '>" +
            "<span>No</span></button>";
        messageBar.style.display = "block";
    }

    function showConfirm(message, returnFunction) {

        messageBar.innerHTML = "";
        messageBar.innerHTML += "<p>" + ((message.match(/^Value\s/)) ? (message.replace(/^Value\s/, "")) : message) +
            ". Are you sure about this value?</p><div style='display: block;'>" +
            "<button class='button' style='float: none;' onclick='this.offsetParent.style.display=\"none\";" + returnFunction + "();' onmousedown='this.offsetParent.style.display=\"none\";" + returnFunction + "();'" +
            "><span>Yes</span></button><button class='button' " +
            "style='float: none; right: 3px;' onmousedown='this.offsetParent.style.display=\"none\"; '>" +
            "<span>No</span></button>";
        messageBar.style.display = "block";
    }

    function validateTemp(temp) {

        var minValue = 35;
        var maxValue = 40;
        var absMinValue = 30;
        var absMaxValue = 45;
        var tooSmall = false;
        var tooBig = false;
        this.shouldConfirm = false;

        if (temp.trim().length < 1)
            return true;

        if (!isNumeric(temp)) {
            showMessage("Not a valid temp - please enter a valid temp reading.");
            return false;
        }

        if (temp < 35 && temp >= 30) {

            showValidate("temperature reading is too low");
            return false;
        }

        if (temp < 30) {
            showMessage("temperature is too low");
        }

        if (temp > 42) {
            showMessage("temperature reading is too high");
            return false;
        }

        if (temp > 40 && temp <= 42) {
            showValidate("temperature reading is too high");
            return false;
        }


        return true;
    }

    function goToSpo() {
        var nextVital = document.getElementById("vitals-SPO2");
        nextVital.setAttribute("class", "app-btn");
        document.getElementById("vitals-Temp").setAttribute("class", "app-btn button-diabled");
        document.getElementById("vitals-input").value = vitalsEntered[nextVital.id];
    }

    function validateWeight(weight) {
        var minValue = 2;
        var absMinValue = 1;
        var maxValue = 250;
        var absMaxValue = 300;

        if (sessionStorage.programID == 12) {
            minValue = 40;
            absMinValue = 35;
            maxValue = 250;
            absMaxValue = 300;
        }
        if (weight.trim().length < 1)
            return true;

        if (!(weight.indexOf("/") == -1)) {
            showMessage("Please remove /.");
            return false;
        }

        if (!(weight.indexOf("%") == -1)) {
            showMessage("Please remove %.");
            return false;
        }

        if (!(weight.indexOf(".") != -1)) {
            showMessage("Please include a decimal.<br />For example; " + weight + ".0");
            return false;
        }

        if (!isNumeric(weight)) {
            showMessage("Not a valid weight - please enter a valid weight.");
            return false;
        }

        if (weight < minValue || weight < absMinValue) {
            showMessage("Weight entered is less than minimum " + minValue + ".0");
            return true;
        }

        if (weight > maxValue || weight > absMaxValue) {
            showMessage("Weight entered is greater than maximum " + maxValue + ".0");
            return true;
        }

        var afterDecimal = [];
        afterDecimal.push(weight);
        afterDecimal = afterDecimal.join(",").split(".")[1];

        if (afterDecimal == undefined) {
            showMessage('Please include a valid number<br />after the "."');
            return false;
        }

        if (!isNumeric(afterDecimal)) {
            showMessage('Please include a valid number<br />after the "."');
            return false;
        }

        return true;
    }

    function validateHeight(height) {
        if (height.trim().length < 1)
            return true;

        if (!(height.indexOf("/") == -1)) {
            showMessage("Please remove /.");
            return false;
        }

        if (!(height.indexOf("%") == -1)) {
            showMessage("Please remove %.");
            return false;
        }

        if (!isNumeric(height)) {
            showMessage("Not a valid height - please enter a valid height.");
            return false;
        }

        if (!isNumeric(height)) {
            showMessage("Not a valid height - please enter a valid height.");
            return false;
        }

        if (height > 220 || height < 40) {
            showMessage("height is out of range");
            return false;
        }

        if (parseInt(sessionStorage.currentHeight) > height) {
            var modal = document.getElementById('myModal');
            var modalError = document.getElementById("modal-error");
            var currentHeight = document.getElementById("current-height");
            currentHeight.innerHTML = "<p class='height-headers'>Previous Height </p><p class='height-text' >" + sessionStorage.currentHeight + "CM</p>";
            currentHeight.setAttribute("value", sessionStorage.currentHeight);
            var newHeight = document.getElementById("new-height");
            newHeight.innerHTML = "<p class='height-headers'>Current Height</p><p class='height-text' >" + height + "CM</p>";
            newHeight.setAttribute("value", height);
            modalError.innerHTML = "<p style='color: red; font-size: 20px;'>Inconsistent Height Reading: </p>" + ("Height can not be lower than previous height of " + sessionStorage.currentHeight + "KG. Please SELECT the correct height.");
            modal.style.display = "block";
            return false;
        }

        return true;
    }

    function validateBP(bp) {
        if (bp.trim().length < 1)
            return true;

        if (!(bp.indexOf(".") == -1)) {
            showMessage("Please remove decimal(s).");
            return false;
        }

        if (!(bp.indexOf("%") == -1)) {
            showMessage("Please remove %.");
            return false;
        }

        if ((bp.indexOf("/") == -1)) {
            showMessage("Not a valid BP reading.<br />Please add '/' in between the numbers.");
            return false;
        }

        if (bp.split("/").length != 2) {
            showMessage("Not a valid BP reading.");
            return false;
        }

        bp_diastolic = bp.split("/")[1];
        bp_systolic = bp.split("/")[0];

        if (sessionStorage.programID == 12) {
            // Validations specifically FOR ANC
            // Moved to vitals javascript file
            // with new error messages.
            /**
             if (bp_systolic >= 140 && bp_diastolic >= 90) {

                showMessage("Client is at risk of pre-eclampsia, refer for urine protein test.");
                return true;

            }

             if (bp_systolic < 120 || bp_systolic > 140) {

                showMessage("Systolic reading is out of normal range");
                return true;

            }

             if (bp_diastolic < 80 || bp_diastolic > 90) {

                showMessage("Diastolic reading is out of normal range");
                return true;

            }

             if ((bp_systolic >= 130 && bp_systolic <= 139) && (bp_diastolic >= 80 && bp_diastolic <= 89)) {

                showMessage("Prehypertension");
                return true;

            }
             */


        } else {
            // Validations NOT for ANC
            if (bp_diastolic < 30 || bp_diastolic > 200) {

                showMessage("Diastolic reading is out of normal range");
                return false;

            }

            if (bp_systolic < 40 || bp_systolic > 250) {

                showMessage("Systolic reading is out of normal range");
                return true;

            }
        }

        if (!isNumeric(bp_systolic)) {
            showMessage("Not a valid systolic reading.");
            return false;
        }

        if (!isNumeric(bp_diastolic)) {
            showMessage("Not a valid diastolic reading.");
            return false;
        }

        return true;
    }

    /* .................................... validation helpers .......... */
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    function changeNextBtn() {
        var nextBtn = document.getElementById('nextButton');
        nextBtn.setAttribute("onmousedown", "validateEntries();");
    }

    function validateEntries() {

        var validationANS = validateUserInput();
        if (!validationANS)
            return;

        if(show_bp_only == false) {
          if (document.getElementById("td-Weight").innerHTML.length < 1) {
              showMessage("Weight can not be empty");
              return;
          }
        //   if (document.getElementById("td-Height").innerHTML.length < 1 && sessionStorage.patientAge < 18) {
        //       showMessage("Height can not be empty");
        //       return;
        //   }
        //   if (document.getElementById("td-Height").innerHTML.length < 1 && sessionStorage.currentHeight == 0) {
        //       showMessage("Height can not be empty");
        //       return;
        //   }
        }
        submitVitals();
    }

    function confirmIfWeightIsEntered() {
        var e = document.getElementById("vitals-Weight");
        setVital(e);
    }

    function submitVitals() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'Vitals',
            encounter_type_id: 6,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        }

        submitParameters(encounter, "/encounters", "postVitalsObs");
    }

    var patient_median_Weight_height = {};
    var patient_weight_for_height_values = {};
    var weight_for_height_concept_id = 1822;
    var weight_for_age_concept_id = 6396;
    var height_for_age_concept_id = 6397;
    var bmi_concept_id = 2137;
    var treatment_status_concept_id = 1484;
    var bp_treatment_info_available = false;

    var weight;
    var height;

    function postVitalsObs(encounter) {

        var vitals_observations = [];

        for (var name in vitalsEntered) {
            var vital = vitalsEntered[name];
            vname = null;

            try {
                if (vital.length > 0) {
                    vname = name;
                }
            } catch (e) {
            }

            if (!vname)
                continue;

            if (name.match(/weight/i)) {
                vitals_observations.push({concept_id: 5089, value_numeric: vital});
                sessionStorage.currentWeight = vital;
                weight = vital;
            } else if (name.match(/height/i)) {
                vitals_observations.push({concept_id: 5090, value_numeric: vital});
                height = vital;
            } else if (name.match(/BP/i)) {
                var bp_systolic = vital.split("/")[0];
                var bp_diastolic = vital.split("/")[1];

                vitals_observations.push({concept_id: 5085, value_numeric: bp_systolic});
                vitals_observations.push({concept_id: 5086, value_numeric: bp_diastolic})
            } else if (name.match(/Temp/i)) {
                vitals_observations.push({concept_id: 5088, value_numeric: vital})
            } else if (name.match(/SPO2/i)) {
                vitals_observations.push({concept_id: 5092, value_numeric: vital})
            } else if (name.match(/Pulse/i)) {
                vitals_observations.push({concept_id: 5087, value_numeric: vital})
            }
        }

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: vitals_observations
        };

        if (vitals_observations.length > 0)
            if (patient_age <= 14) {
                var current_weight_percentile = (parseFloat(weight) / (parseFloat(patient_median_Weight_height["weight"])) * 100).toFixed(0);
                var current_height_percentile = (parseFloat(height) / (parseFloat(patient_median_Weight_height["height"])) * 100).toFixed(0)
                var currentHeightRounded = (height % Math.floor(height) < 0.5 ? 0 : 0.5) + Math.floor(height);
                var medianWeightHeight = patient_weight_for_height_values[currentHeightRounded.toFixed(1)];
                var weight_for_height_percentile = (weight / (medianWeightHeight) * 100).toFixed(0);

                obs.observations.push({
                    concept_id: weight_for_height_concept_id,
                    value_text: weight_for_height_percentile
                });
                obs.observations.push({concept_id: weight_for_age_concept_id, value_text: current_weight_percentile});
                obs.observations.push({concept_id: height_for_age_concept_id, value_text: current_height_percentile});
            } else {

                var heightInput = document.getElementById("td-Height");
                if (heightInput) {
                    height = heightInput.innerHTML;
                }
                var currentBmi = (weight / (height * height) * 10000).toFixed(1);
                if (isFinite(currentBmi)) {
                    obs.observations.push({concept_id: bmi_concept_id, value_numeric: currentBmi})
                }
            }

            var treatment_status_value = __$("treatment_status").value;
            if (treatment_status_value){
                obs.observations.push({concept_id: treatment_status_concept_id, value_text: treatment_status_value})
            }

        submitParameters(obs, "/observations", "nextPage")


    }

    function nextPage() {
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }

    function changeNextBtnToSubmit() {
        var nextBtn = document.getElementById('nextButton');
        nextBtn.setAttribute("onmousedown", "submitVitals();");
        nextBtn.setAttribute("onclick", "");
    }

    var currentHeight;
    var height_concept_id = 5090;

    function initializeVariables() {
        jQuery(".loader").show();
        jQuery('#keyboard').hide();
        jQuery("#buttons").hide();
        jQuery("#tt_page_weight_kg").hide();
        jQuery("#inputFrame" + tstCurrentPage).hide();

        var weight_height_age_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        weight_height_age_url += "/api/v1/patients/" + sessionStorage.patientID + "/median_weight_height";

        var patient_weight_for_height_values_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        patient_weight_for_height_values_url += "/api/v1/patient_weight_for_height_values"; //NOT patient specific

        var get_person_url = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1/patients/" + patient_id;

        var height_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        height_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        height_url += "&concept_id=" + height_concept_id;

        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var obj = JSON.parse(this.responseText);
                obj = obj["person"];
                patient_age = Math.round(moment().diff(obj["birthdate"], 'years', true));
                if (patient_age <= 14) {
                    var xhttp2 = new XMLHttpRequest();
                    xhttp2.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                            patient_median_Weight_height = JSON.parse(this.responseText);
                            var xhttp3 = new XMLHttpRequest();
                            xhttp3.onreadystatechange = function () {
                                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                    patient_weight_for_height_values = JSON.parse(this.responseText);
                                    getHTNActivationStatus();
                                }
                            };
                            xhttp3.open("GET", patient_weight_for_height_values_url, true);
                            xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                            xhttp3.setRequestHeader('Content-type', "application/json");
                            xhttp3.send();
                        }
                    };

                    xhttp2.open("GET", weight_height_age_url, true);
                    xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                    xhttp2.setRequestHeader('Content-type', "application/json");
                    xhttp2.send();
                } else {
                    var xhttp4 = new XMLHttpRequest();
                    xhttp4.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                            var height_obs = JSON.parse(this.responseText);
                            if (height_obs.length > 0) {
                                currentHeight = height_obs[0].value_numeric;
                                if (!currentHeight) {
                                    currentHeight = height_obs[0].value_text;
                                }
                            }
                            getHTNActivationStatus();
                        }
                    };
                    xhttp4.open("GET", height_url, true);
                    xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                    xhttp4.setRequestHeader('Content-type', "application/json");
                    xhttp4.send();

                }
            }
        };
        xhttp1.open("GET", get_person_url, true);
        xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp1.setRequestHeader('Content-type', "application/json");
        xhttp1.send();
    }

    var htn_activated = false;

    function getHTNActivationStatus() {
        var htn_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        htn_property_url += "/api/v1/global_properties?property=activate.htn.enhancement";

        var bp_info_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        bp_info_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        bp_info_url += "&concept_id=" + treatment_status_concept_id;

        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                try {
                    var activate_htn_enhancement_property = JSON.parse(this.responseText);
                    if (activate_htn_enhancement_property["activate.htn.enhancement"] == "true") {
                        htn_activated = true
                    }
                } catch (e) {

                }

                var xhttp2 = new XMLHttpRequest();
                xhttp2.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                        var bp_treatment_status_obs = JSON.parse(this.responseText);
                        if (bp_treatment_status_obs.length > 0) {
                            bp_treatment_info_available = true;
                        }

                        gotoNextPage();
                    }
                };
                xhttp2.open("GET", bp_info_url, true);
                xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp2.setRequestHeader('Content-type', "application/json");
                xhttp2.send();
            }
        };
        xhttp1.open("GET", htn_property_url, true);
        xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp1.setRequestHeader('Content-type', "application/json");
        xhttp1.send();
    }

    function resetPage() {
        jQuery('#keyboard').show();
        jQuery("#buttons").show();
        jQuery("#innerPop").show()
        jQuery("#inputFrame" + tstCurrentPage).show();
        jQuery(".loader").hide();

    }
</script>

<body id="mateme">
<div id="container">
    <div id="content">

        <form onsubmit="submitEncounter();">
            <input type="text" name="vitals"
                   tt_onLoad="checkIfInBDMode();initializeVariables();"
                   tt_onUnLoad="resetPage();"
                   tt_pageStyleClass="NoControls" optional="true"/>

            <select allowFreeText="false" helpText="Already taking drugs for blood pressure?"
                    condition="bp_treatment_info_available == false && sessionStorage.programID == HIV_PROGRAM_ID"
                    id="treatment_status" name="transfer_in" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value="BP Drugs started">Yes</option>
                <option value="Not on BP Drugs">No</option>
            </select>

            <input type="text" name="summary"
                   tt_onLoad="__$('keyboard').style.display = 'none';changeNextBtn();buildVitalsPage();buildKeyPad();buildTable();"
                   tt_pageStyleClass="NoControls" helpText="Vitals" optional="true"/>

        </form>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content" style="height: 400px;">
                <span class="close">&times;</span>
                <p id="modal-error"></p>
                <div style="margin-top: 3%; width: 100%; height:200px;">
                    <div class="heightDivs" onclick="selectHeight(this);" id="current-height">

                    </div>
                    <div class="heightDivs" id="new-height" onclick="selectHeight(this);">

                    </div>
                </div>
                <div style="margin-top:4%;">

                    <button id="saveObs" class="button red navButton" style="width: 80px; visibility: hidden;"
                            onclick="showConfirm('Are you sure you want to void height?', 'voidHeight');">
                        <span>Void</span></button>
                </div>
            </div>

        </div>

        <div class="loader"></div>
    </div>
</div>

<script type="text/javascript">

    var modal = document.getElementById('myModal');

    function selectHeight(element) {
        var divs = document.getElementsByClassName("heightDivs");
        for (var x = 0; x < divs.length; x++) {
            divs[x].style.backgroundColor = "white";
            divs[x].style.color = "black";
        }
        if (element.id === "current-height") {
            modal.style.display = "none";
            document.getElementById("vitals-input").value = null;
            document.getElementById("td-Height").innerHTML = null;
            vitalsEntered["vitals-Height"] = null;
            document.getElementById("saveObs").style.visibility = "hidden";
        }
        else if (element.id === "new-height") {
            document.getElementById("saveObs").style.visibility = "visible";
            element.style.backgroundColor = "#0e4d86";
            element.style.color = "white";
        }

    }


    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function voidHeight() {
        var url = apiProtocol + '://' + apiURL + ':' + apiPort + '/api/v1/observations/' + sessionStorage.currentHeightObsID;
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {

            if (this.readyState == 4 && this.status == 204) {
                modal.style.display = "none";
                sessionStorage.removeItem("currentHeight");
                getHeight(sessionStorage.patientID);
            } else {
            }
        };
        try {
            req.open('DELETE', url, true);
            req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
            req.send(null);
        } catch (e) {
        }

    }

    function getHeight(patient_id) {
        var url = apiProtocol + "://" + apiURL + ":" + apiPort;
        url += "/api/v1/observations?person_id=" + patient_id + "&concept_id=5090";
        url += "&date=" + moment(new Date(sessionStorage.sessionDate)).format('YYYY-MM-DD');
        url += "&page_size=1";

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var obj = JSON.parse(this.responseText);
                if (obj.length > 0) {
                    sessionStorage.currentHeightObsID = obj[0].obs_id;
                    var height = parseInt(obj[0].value_numeric);
                    if (height > 0) {
                        sessionStorage.currentHeight = height;
                    } else if (obj[0].value_text.length > 0) {
                        sessionStorage.currentHeight = parseInt(obj[0].value_text);

                    } else {
                        sessionStorage.currentHeight = 0;
                    }
                } else {
                    sessionStorage.currentHeight = 0;
                }
            }
        };
        xhttp.open("GET", url, true);
        xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp.setRequestHeader('Content-type', "application/json");
        xhttp.send();
    }
</script>
</body>

